.cart {
  background: #333;

  .cart-chooser {
    background: #fff;
  }

  .cart-empty {
    background: #fff;
    padding: 30px 10px;
    min-height: 150px;
    text-align: center;
  }

  .item-cart-recipe {
    // inspiration : https://twitter.com/GeoffreyDorne/status/477837215578722305
    &:nth-child(2n+1) {
      .item .item-content, .addon {
        background: #f0f0f0;
      }
    }
    .item {
      border: none;
      .item-content {
        padding: 0px; // 15px 45px 15px 15px;
        .thumbnail {
          max-width: 100px;
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
        .content {
          margin-left: 100px;
          padding: 10px;
          .progress {
            margin-top: 10px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .addon {
      background: #fff;
      padding: 0px 20px 8px;
    }
  }

  .item-cart-ingredient {
    padding: 5px 10px;
    border: none;
    .text {
      border-left: 3px solid black;
      padding: 3px 5px;
    }
    .quantity {
      padding: 3px 5px;
    }
    .check {
      border-left: 1px solid #ccc;
      margin-left: 5px;
      padding-left: 10px;
      input[type=checkbox] {
        width: 20px;
        height: 20px;
      }
    }
    .details {
      font-size: .8em;
      .text {
        border-left: 1px dashed #666;
        margin-left: 10px;
        padding: 1px 5px;
      }
      .quantity {
        padding: 1px 5px;
      }
      .check {
        padding-left: 15px;
        input[type=checkbox] {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .item-cart-ingredient.bought {
    text-decoration: line-through;
    background: transparent;
    color: #666;
    .text {
      border-color: transparent;
    }
    .check {
      border-color: #444;
    }
  }
}
