@import "_colors";

.cart {
  background: #333;

  .cart-chooser {
    background: #fff;
  }

  .cart-empty {
    background: #fff;
    padding: 30px 10px;
    min-height: 50px;
    text-align: center;
  }

  .item-cart-recipe {
    // inspiration : https://twitter.com/GeoffreyDorne/status/477837215578722305
    &:nth-child(2n+1) {
      .item .item-content, .addon {
        background: #f0f0f0;
      }
    }
    .item {
      border: none;
      .item-content {
        padding: 0px; // 15px 45px 15px 15px;
        .thumbnail {
          max-width: 100px;
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
        .content {
          margin-left: 100px;
          padding: 10px;
          .progress {
            margin-top: 10px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .addon {
      background: #fff;
      padding: 0px 20px 8px;
    }
  }

  .add-product {
    margin-bottom: 0px;
    .item-input-inset {
      padding-top: 0px;
      padding-bottom: 0px;
      border: none;
    }
    .item-results {
      margin: -1px;
      padding: 10px;
      padding-top: 0px;
      border-bottom: 1px solid #ddd;
      background-color: #fff;
      color: #444;
      font-size: 16px;
      .result {
        float: left;
        &.fruits-and-legumes .text {background-color: $material-green;}
        &.viandes-and-poissons .text {background-color: $material-red;}
        &.frais .text {background-color: $material-blue;}
        &.pains-and-patisseries .text {background-color: $material-brown;}
        &.epicerie-salee .text {background-color: $material-blue-grey;}
        &.epicerie-sucree .text {background-color: $material-orange;}
        &.selected .text {background-color: #777;}
        .text {
          display: inline;
          padding: .2em .6em .3em;
          font-size: 100%;
          font-weight: 700;
          line-height: 35px;
          margin-right: 7px;
          color: #fff;
          text-align: center;
          white-space: nowrap;
          border-radius: .25em;
          background-color: #ccc;
          &:first-letter {
            // don't work... strange...
            text-transform: uppercase;
          }
          &.small {
            margin-right: 2px;
            padding: .1em .4em .2em;
            font-size: 90%;
            line-height: 30px;
          }
        }
      }
      .selectedProduct {
        .quantity, .unit {
          .row {
            padding: 0px;
            .col {
              padding: 0px;
              text-align: center;
              i {
                line-height: 30px;
              }
            }
          }
        }
        .submit {
          padding-top: 5px;
        }
      }
    }
  }

  .add-product-2 {
    margin-bottom: 0px;
    .item {
      padding: 0px;
      textarea {
        padding: 10px;
        background: #eee;
      }
    }
  }

  .item-cart-ingredient {
    padding: 5px 10px;
    border: none;
    &.fruits-and-legumes .text {border-color: $material-green;}
    &.viandes-and-poissons .text {border-color: $material-red;}
    &.frais .text {border-color: $material-blue;}
    &.pains-and-patisseries .text {border-color: $material-brown;}
    &.epicerie-salee .text {border-color: $material-blue-grey;}
    &.epicerie-sucree .text {border-color: $material-orange;}
    .text {
      border-left: 4px solid black;
      padding: 3px 5px;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .quantity {
      padding: 3px 5px;
    }
    .check {
      border-left: 1px solid #ccc;
      margin-left: 5px;
      padding-left: 10px;
      input[type=checkbox] {
        width: 20px;
        height: 20px;
      }
    }
    .details {
      font-size: .8em;
      .text {
        border-left: 1px dashed #666;
        margin-left: 10px;
        padding: 1px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      .quantity {
        padding: 1px 5px;
      }
      .check {
        padding-left: 15px;
        input[type=checkbox] {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .item-cart-ingredient.bought {
    text-decoration: line-through;
    background: transparent;
    color: #666;
    .text {
      border-color: transparent;
    }
    .check {
      border-color: #444;
    }
  }
}
