$ionic-light-bg: #fff;
$ionic-light-border: #ddd;
$ionic-light-text: #444;
$ionic-stable-bg: #f8f8f8;
$ionic-stable-border: #b2b2b2;
$ionic-stable-text: #444;
$ionic-positive-bg: #4a87ee;
$ionic-positive-border: #145fd7;
$ionic-positive-text: #fff;
$ionic-calm-bg: #43cee6;
$ionic-calm-border: #1aacc3;
$ionic-calm-text: #fff;
$ionic-balanced-bg: #66cc33;
$ionic-balanced-border: #498f24;
$ionic-balanced-text: #fff;
$ionic-energized-bg: #f0b840;
$ionic-energized-border: #d39211;
$ionic-energized-text: #fff;
$ionic-assertive-bg: #ef4e3a;
$ionic-assertive-border: #cc2311;
$ionic-assertive-text: #fff;
$ionic-royal-bg: #8a6de9;
$ionic-royal-border: #552bdf;
$ionic-royal-text: #fff;
$ionic-dark-bg: #444;
$ionic-dark-border: #111;
$ionic-dark-text: #fff;

$custom-bg: #f62; // bootstrap: #563d7c
$custom-border: darken($custom-bg, 15%); // #d44100; (bootstrap: #563d7c)
$custom-text: #fff;

/*
 * bootstrap purple :
 * text-light : #cdbfe3
 * text-dark : #563d7c
 * background: #6f5499
 * border: #563d7c
 */