@mixin handwritten {
  font-family: 'desyrelregular', cursive;
}

.title:first-letter { text-transform: uppercase; }
.handwritten { @include handwritten; }
.bold { font-weight: bold !important; }

.bar-header .title {
  @include handwritten;
  font-size: 20px;
}

.pane, .view, .scroll-content {
  background-color: #E9ECF1;
}
.scroll-content.empty {
  background: url(../images/logo-clair.png) no-repeat center center;
}
.screen { display: block; }
.screen-empty { display: none; }
.scroll-content.empty {
  .screen { display: none; }
  .screen-empty {
    display: block;
    margin: 30px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #aaa;
  }
}
