@mixin symbol($left:none, $right:none, $content:"-", $color:#ccc) {
  position: absolute;
  top: 50%;
  left: $left;
  right: $right;
  display: block;
  margin-top: -8px;
  font-family: 'Ionicons';
  font-size: 16px;
  line-height: 1;
  content: $content;
  color: $color;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  speak: none;
  z-index: 10;
}
@mixin arrow-left($color:#ccc) {
  @include symbol(11px, none, "\f124", $color);
}
@mixin arrow-right($color:#ccc) {
  @include symbol(none, 11px, "\f125", $color);
}

img.desaturate{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.platform-webview, .platform-cordova {
  .hide-on-keyboard-close {
    display: none;
  }
  &.keyboard-open .hide-on-keyboard-close {
    display: inherit;
  }
}
