@mixin handwritten {
  font-family: 'desyrelregular', cursive;
}

.title:first-letter { text-transform: uppercase; }
.handwritten { @include handwritten; }
.bold { font-weight: bold !important; }

.bar-header .title {
  @include handwritten;
  font-size: 20px;
}

.bar-header .button.warn {
  color: #801D32;
}

i {
  font-style: italic;
}

.pane, .view, .scroll-content {
  background-color: #E9ECF1;
}
.scroll-content.empty {
  background: url(../images/logo-clair.png) no-repeat center center;
}
.screen { display: block; }
.screen-empty { display: none; }
.scroll-content.empty {
  .screen { display: none; }
  .screen-empty {
    display: block;
    margin: 30px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #aaa;
    .spinner {
      margin-top: 150px;
    }
  }
}

// from http://tobiasahlin.com/spinkit/
.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgba(255, 102, 34, 0.4);
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
