@import "_colors";

.home {
  background: url(../images/citron-cup-drinking-1388.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  .message {
    .alert {
      margin: 0px;
    }
  }


  .dashboard {
    .card {
      background: #fff;
      padding: 0px;
      margin: 20px 50px;
      border-radius: 4px;
      border: 2px solid #ccc;
      cursor: pointer;
      .media {
        padding: 20px 0px;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
      }
      .content {
        display: flex;
        align-items: center; /* align vertical */
        padding: 10px 10px;
        color: #aaa;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .card:nth-child(1) {
      border-color: #009989;
      .media { background: #009989; }
    }
    .card:nth-child(2) {
      border-color: #CE1836;
      .media { background: #CE1836; }
    }
    .card:nth-child(3) {
      border-color: #F85931;
      .media { background: #F85931; }
    }
    .card:nth-child(4) {
      border-color: #EDB92E;
      .media { background: #EDB92E; }
    }
  }
}

.home {
  // old versions
  .dashboard-card {
    border: 1px solid #d4d4d4;
    background: #fff;
    margin: 10px;
    min-height: 160px;
    text-align: center;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
    .heading {
      margin: -1px -1px 1px -1px;
      background: #ccc;
      color: #fff;
      font-size: 40px;
      line-height: 90px;
    }
    .row {
      .col {
        float: left;
        border-right: 1px solid #eee;
        &:last-child {
          border-right: none;
        }
        strong {
          display: block;
          font-size: 30px;
          line-height: 30px;
        }
        span {
          color: #bbb;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 11px;
        }
      }
    }
    &.cart-infos {
      .heading { background: $ionic-balanced-bg; }
    }
    &.recipes-infos {
      .heading { background: $ionic-energized-bg; }
    }
  }
}