$avatar-size: 80px;
.sidemenu {
  background: #6f5499 url(../images/menu_bg.png);
  .profile {
    margin-bottom: 20px;
    .cover {
      width: 100%;
      height: 130px;
      background-size: cover;
    }
  }
  .list {
    .item {
      color: #fff;
      background: transparent;
      border-color: #3e2d5c;
    }
    .item-divider {
      border: none;
      padding: 4px 30px 5px;
      min-height: 25px;
    }
  }
}
