.recipes {
  .recipes-empty {
    background: #fff;
    padding: 30px 10px;
    min-height: 150px;
    text-align: center;
  }

  .item-recipe-img-full {
    position: relative;
    padding: 0px;
    border: none;
    & > img {
      width: 100%;
      &.portrait { display: none; }
      &.landing { display: block; }
    }
    &.big-image {
      & > img {
        &.portrait { display: block; }
        &.landing { display: none; }
      }
    }
    .legend-top {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      .price {
        text-align: right;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0,0,0,0.9);
        padding: 3px 10px;
        .number {
          font-size: 30px;
          line-height: 30px;
        }
        .detail {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    .ingredients-overlay {
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 100%;
      margin: auto;
      .list {
        vertical-align: middle;
        background: #fff;
        margin: auto;
        width: 75%;
        .item.item-divider {
          min-height: 25px;
          padding: 4px 8px;
          line-height: 16px;
          font-size: 16px;
        }
        .item.ingredient {
          padding: 3px;
          line-height: 14px;
          font-size: 14px;
          // height: 32px;
        }
      }
    }
    &.show-ingredients .ingredients-overlay {
      display: table;
    }
    .legend {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding: 5px;
      padding-top: 15px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0,0,0,0.9);
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.9));
      background-image: linear-gradient(transparent, rgba(0,0,0,0.9));
      .line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .title {
        font-size: 24px;
        line-height: 28px;
        padding: 2px 0px;
      }
      .subtitle {
        color: #ddd;
      }
    }
  }
}

$card-size: 300px;
.recipe-cards {
  background-color: #333;
  .scroll {
    height: 100%;
  }
  .cards-container {  
    .swipe-cards {
      position: fixed;
      #start-card {
        background-color: #30BD8A;
        border: 6px solid #4CD68E;
        color: #fff;
        line-height: $card-size;
        word-wrap: break-word;
        text-align: center;
        span {
          display: inline-block;
          width: $card-size - 50;
          font-size: 30px;
          line-height: 40px;
          vertical-align: middle;
        }
      }
      .swipe-card {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        width: $card-size;
        height: $card-size;
        margin-left: -$card-size/2;
        margin-top: -$card-size/2;
        overflow: hidden;
        border: 1px solid #d4d4d4;
        background-color: #fff;
        color: #444;
        border-radius: 4px;
        box-sizing: border-box;
        -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
        -webkit-perspective: 1000;
        -webkit-transform: scale(1,1);
        -webkit-backface-visibility: hidden;
        -webkit-animation-fill-mode: forwards;
        .title {
          font-size: 20px;
          line-height: 30px;
          padding: 5px;
        }
        .subtitle {
          padding: 5px;
          padding-top: 0;
        }
        .image {
          img {
            width: 100%;
          }
        }
        .button-bar {
          position: absolute;
          bottom: 0;
        }
        .pop-in-start {
          -webkit-transform: scale(0,0);
        }
        .pop-in {
          -webkit-animation: bounceIn 0.3s ease-out;
        }
      }
    } 
  }
}


.recipe {
  .recipe-meta {
    background: #eee;
  }
  .title {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #222;
    margin: -1px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    min-height: 30px;
  }
  .instruction {
    margin: 0 0 10px;
    .title {
      border: none;
      background: none;
      min-height: 0;
      padding: 0;
      padding-bottom: 5px;
    }
    .content {
      padding-left: 10px;
    }
  }
}