.recipes {
  .recipes-empty {
    background: #fff;
    padding: 30px 10px;
    min-height: 150px;
    text-align: center;
  }

  .item-recipe-img-full {
    position: relative;
    padding: 0px;
    border: none;
    & > img {
      width: 100%;
    }
    .legend {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding: 5px;
      padding-top: 15px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0,0,0,0.9);
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.9));
      background-image: linear-gradient(transparent, rgba(0,0,0,0.9));
      .line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .title {
        font-size: 24px;
        line-height: 28px;
        padding: 2px 0px;
      }
      .subtitle {
        color: #ddd;
      }
      .price {
        text-align: right;
        .number {
          font-size: 30px;
          line-height: 30px;
        }
        .detail {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    .actions {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      padding: 5px;
    }
  }
}

.recipe {
  .recipe-meta {
    background: #eee;
  }
  .title {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #222;
    margin: -1px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    min-height: 30px;
  }
  .instruction {
    margin: 0 0 10px;
    .title {
      border: none;
      background: none;
      min-height: 0;
      padding: 0;
      padding-bottom: 5px;
    }
    .content {
      padding-left: 10px;
    }
  }
}