$color-light: #fff;
$color-stable: #f8f8f8;
$color-positive: #4a87ee;
$color-calm: #43cee6;
$color-balanced: #66cc33;
$color-energized: #f0b840;
$color-assertive: #ef4e3a;
$color-royal: #8a6de9;
$color-dark: #444;
$color-gray: #f5f5f5;

$color-light-border: #ddd;
$color-stable-border: #b2b2b2;
$color-positive-border: #145fd7;
$color-calm-border: #1aacc3;
$color-balanced-border: #498f24;
$color-energized-border: #d39211;
$color-assertive-border: #cc2311;
$color-royal-border: #552bdf;
$color-dark-border: #111;
$color-gray-border: #ddd;

$color-light-font: #444;
$color-stable-font: #444;
$color-positive-font: #fff;
$color-calm-font: #fff;
$color-balanced-font: #fff;
$color-energized-font: #fff;
$color-assertive-font: #fff;
$color-royal-font: #fff;
$color-dark-font: #fff;
$color-gray-font: #222;

