@import "_colors";
@import "_ionic_override";
@import "_ionic_new_color";
@import "_bootstrap_imports";
@import "../scripts/launch/_intro";
@import "../scripts/auth/_login";
@import "_menu";
@import "_home";
@import "../scripts/recipe/_recipe";
@import "../scripts/cart/_cart";
@import "../scripts/user/_profile";
@import "../scripts/user/_feedback";

@font-face {
  font-family: 'desyrelregular';
  src: url('../fonts/desyrel-webfont.eot');
  src: url('../fonts/desyrel-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/desyrel-webfont.woff') format('woff'),
    url('../fonts/desyrel-webfont.ttf') format('truetype'),
    url('../fonts/desyrel-webfont.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin handwritten {
  font-family: 'desyrelregular', cursive;
}

.title:first-letter { text-transform: uppercase; }
.handwritten { @include handwritten; }
.bold { font-weight: bold !important; }

.bar-header .title {
  @include handwritten;
  font-size: 20px;
}

.button-icon {
  font-size: 30px;
  &.light {color: $ionic-light-bg; &:hover {color: $ionic-light-border;} }
  &.stable {color: $ionic-stable-bg; &:hover {color: $ionic-stable-border;} }
  &.positive {color: $ionic-positive-bg; &:hover {color: $ionic-positive-border;} }
  &.calm {color: $ionic-calm-bg; &:hover {color: $ionic-calm-border;} }
  &.balanced {color: $ionic-balanced-bg; &:hover {color: $ionic-balanced-border;} }
  &.energized {color: $ionic-energized-bg; &:hover {color: $ionic-energized-border;} }
  &.assertive {color: $ionic-assertive-bg; &:hover {color: $ionic-assertive-border;} }
  &.royal {color: $ionic-royal-bg; &:hover {color: $ionic-royal-border;} }
  &.dark {color: $ionic-dark-bg; &:hover {color: $ionic-dark-border;} }
  &.custom {color: $custom-bg; &:hover {color: $custom-border;} }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin symbol($left:none, $right:none, $content:"-", $color:#ccc) {
  position: absolute;
  top: 50%;
  left: $left;
  right: $right;
  display: block;
  margin-top: -8px;
  font-family: 'Ionicons';
  font-size: 16px;
  line-height: 1;
  content: $content;
  color: $color;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  speak: none;
  z-index: 10;
}
@mixin arrow-left($color:#ccc) {
  @include symbol(11px, none, "\f124", $color);
}
@mixin arrow-right($color:#ccc) {
  @include symbol(none, 11px, "\f125", $color);
}

img.desaturate{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
