@import "_colors";
@import "_ionic_override";
@import "_ionic_new_color";
@import "_bootstrap_imports";
@import "_global";
@import "_intro";
@import "_menu";
@import "_home";
@import "_recipe";
@import "_cart";
@import "_feedback";

.title:first-letter {
  text-transform: uppercase;
}

.button-icon {
  font-size: 30px;
  &.light {color: $ionic-light-bg; &:hover {color: $ionic-light-border;} }
  &.stable {color: $ionic-stable-bg; &:hover {color: $ionic-stable-border;} }
  &.positive {color: $ionic-positive-bg; &:hover {color: $ionic-positive-border;} }
  &.calm {color: $ionic-calm-bg; &:hover {color: $ionic-calm-border;} }
  &.balanced {color: $ionic-balanced-bg; &:hover {color: $ionic-balanced-border;} }
  &.energized {color: $ionic-energized-bg; &:hover {color: $ionic-energized-border;} }
  &.assertive {color: $ionic-assertive-bg; &:hover {color: $ionic-assertive-border;} }
  &.royal {color: $ionic-royal-bg; &:hover {color: $ionic-royal-border;} }
  &.dark {color: $ionic-dark-bg; &:hover {color: $ionic-dark-border;} }
  &.custom {color: $custom-bg; &:hover {color: $custom-border;} }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
