@import 'colors';
@import 'ionic_override';
@import 'global';

.dashboard button {
    font-size: 2em;
    width: 100%;
    height: 170px;
}

.shoppinglist .item-divider {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 25px;
}
.shoppinglist .item-avatar {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 55px;
}
.shoppinglist .item-avatar .main {
    padding-right: 40px;
}
.shoppinglist .item-avatar .main > img:first-child {
    position: absolute;
    top: 0px;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}
.shoppinglist .item-avatar .pull-right {
    float: right;
    border-left: 1px solid #ccc;
    margin-left: 10px;
}
.shoppinglist .item-avatar .pull-right .checkbox {
    padding: 5px 0px 5px 10px;
}
.shoppinglist.bought .item-divider {
    border-color: $color-balanced-border;
    background-color: $color-balanced;
    color: $color-balanced-font;
}
.shoppinglist.bought .item h2 {
    text-decoration: line-through;
}





.product-grid {
    background: #eee;
}
.product-grid .product.category {
    position: relative;
}
.product-grid .product.category:after {
    position: absolute;
    top: 37px;
    right: 7px;
    color: #555;
    content: "\f125";
    font-size: 24px;
    font-family: 'Ionicons';
    line-height: 1;
    speak: none;
}
.product-grid .product .img {

}
.product-grid .product .img img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.product-grid .product .img div {
    display: none;
}
.product-grid .product .name {
    text-align: center;
}
.product-grid .product.selected .img {
    position: relative;
}
.product-grid .product.selected .img img {
    border: 1px solid $color-balanced-border;
}
.product-grid .product.selected .img div {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: $color-balanced;
    border: 1px solid $color-balanced-border;
    color: $color-balanced-font;
    text-align: center;
}





.recipe .meta {
    background: #eee;
    margin-top: -5px;
}
