<div>
  <div class="list add-product">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="ingredientSearch.name" focus-on-keyboard-open placeholder="Ajouter un ingrédient ...">
      </label>
      <button class="button button-clear" ng-click="selectProduct(ingredientSearch.name)">Ajouter</button>
    </div>
    <div class="item-results hide-on-keyboard-close" ng-if="ingredientSearch.name.length">
      <div ng-show="!selectedProduct">
        <div class="result {{categoryId(food)}}" ng-repeat="food in foods | filter:ingredientSearch" ng-click="selectProduct(food)">
          <span class="text">{{food.name}}</span>
        </div>
      </div>
      <div class="selectedProduct" ng-if="selectedProduct">
        <div class="product">
          <button class="button button-small button-stable pull-right" ng-click="unselectProduct()">&times;</button>
          <div class="result {{categoryId(selectedProduct.product)}}">
            <span class="text">{{selectedProduct.product.name}}</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="quantity">
          <div class="row">
            <div class="col"><i class="fa fa-arrow-circle-left" ng-click="decreaseQuantityMult()"></i></div>
            <div class="col result" ng-class="{selected: selectedProduct.quantity === quantity*quantityMult}" ng-repeat="quantity in quantities" ng-click="selectQuantity(quantity*quantityMult)">
              <span class="text small">{{quantity*quantityMult | mynumber:quantityRound}}</span>
            </div>
            <div class="col"><i class="fa fa-arrow-circle-right" ng-click="increaseQuantityMult()"></i></div>
          </div>
        </div>
        <div class="unit">
          <div class="row">
            <div class="col">
              <div class="result" ng-class="{selected: selectedProduct.unit === unit}" ng-repeat="unit in units" ng-click="selectUnit(unit)">
                <span class="text small">{{unit}}</span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="submit">
          <button class="button button-small button-positive" ng-click="addSelectedProductToCart()" ng-show="selectedProduct && selectedProduct.product && selectedProduct.quantity && selectedProduct.unit">Valider</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>



  <div ng-if="(!items || items.length === 0) && boughtItems.length === 0" class="cart-empty">
    Aucun ingrédient à acheter !!!
  </div>
  <div ng-if="(!items || items.length === 0) && boughtItems.length > 0" class="cart-empty">
    Bravo ! Vous avez tout acheté !!!<br>
    <br>
    <button class="button button-stable" ng-click="archiveCart()">Archiver cette liste de courses</button>
  </div>

  <div class="list">
    <div class="item item-cart-ingredient {{categoryId(item.food)}}" ng-repeat="item in items">
      <div class="check pull-right">
        <input type="checkbox" ng-change="buyItem(item)" ng-model="item.bought">
      </div>
      <div class="quantity pull-right">
        {{item.quantity | quantity}}
      </div>
      <div class="text" ng-click="toggleItem(item)">
        {{item.food.name}}
      </div>

      <div class="details" ng-if="isOpened(item)">
        <div class="source" ng-repeat="source in item.sources">
          <div class="check pull-right">
            <input type="checkbox" ng-change="buySource(source, item)" ng-model="source.bought">
          </div>
          <div class="quantity pull-right">
            {{source.quantity | quantity}}
          </div>
          <div class="text" ng-if="source.recipe">{{source.recipe.data.name}} ({{source.recipe.servings.value}} {{source.recipe.servings.unit}})</div>
          <div class="text" ng-if="!source.recipe"><button class="button button-xs button-assertive" ng-click="removeCartItem(source)">&times;</button> Ajouté manuellement</div>
        </div>
      </div>
    </div>
  </div>

  <div class="list">
    <div class="item item-cart-ingredient bought" ng-repeat="item in boughtItems">
      <div class="check pull-right">
        <input type="checkbox" ng-change="unbuyItem(item)" ng-model="item.bought">
      </div>
      <div class="quantity pull-right">
        {{item.quantity | quantity}}
      </div>
      <div class="text">
        {{item.food.name}}
      </div>
    </div>
  </div>
</div>