*.keystore
*.sw*
hooks
platforms
plugins

*~
merges
platforms/android/CordovaLib/ant-build
platforms/android/ant-build
www/bower_components
node_modules

.sass-cache/
.tmp/
app/bower_components
platforms
