<ion-slide-box delegate-handle="{{sliderId}}" on-slide-changed="slideHasChanged(index)" show-pager="false">
  <ion-slide ng-repeat="meal in newMeals" class="meal-slide">
    <img ng-src="{{meal.image}}">
    <div class="favorite"><i class="fa fa-star-o"></i></div>
    <div class="when"><span>{{title}}</span></div>
    <div class="actions">
      <button class="button button-small button-balanced"><i class="fa fa-shopping-cart"></i></button>
    </div>
    <div class="name">{{meal.name}}</div>
  </ion-slide>
</ion-slide-box>