<div ng-if="!meal.data">
  <ion-slide-box delegate-handle="{{sliderId}}" show-pager="false">
    <ion-slide ng-repeat="meal in newMeals | limitTo:3" class="meal-slide">
      <img ng-src="images/courses/16-9/400/{{meal.image}}" class="desaturate">
      <div class="ribbon">
        <a href="#">{{title}}</a>
      </div>
      <div class="actions">
        <button class="button button-small" ng-click="showMealDetails(meal)"><i class="fa fa-eye"></i></button>
        <button class="button button-small button-balanced" ng-click="selectMeal(meal)"><i class="fa fa-plus"></i></button>
      </div>
      <div class="name">
        <div class="starter" ng-if="meal.starter && meal.starter.name"><span>Entrée</span> : {{meal.starter.name}}</div>
        <div class="mainCourse" ng-if="meal.mainCourse && meal.mainCourse.name"><span>Plat</span> : {{meal.mainCourse.name}}</div>
        <div class="desert" ng-if="meal.desert && meal.desert.name"><span>Dessert</span> : {{meal.desert.name}}</div>
      </div>
    </ion-slide>
  </ion-slide-box>
</div>
<div ng-if="meal.data">
  <div class="meal-slide">
    <img ng-src="images/courses/16-9/400/{{meal.data.image}}">
    <div class="ribbon">
      <a href="#">{{title}}</a>
    </div>
    <div class="actions">
      <div>
        <button class="button button-small" ng-click="showMealDetails(meal.data)"><i class="fa fa-eye"></i></button>
        <button class="button button-small button-assertive" ng-click="unselectMeal(meal)"><i class="fa fa-minus"></i></button>
      </div>
      <div style="margin-top: 3px;">
        <button class="button button-small button-balanced pull-right"><i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="name">
      <div class="starter" ng-if="meal.data.starter && meal.data.starter.name"><span>Entrée</span> : {{meal.data.starter.name}}</div>
      <div class="mainCourse" ng-if="meal.data.mainCourse && meal.data.mainCourse.name"><span>Plat</span> : {{meal.data.mainCourse.name}}</div>
      <div class="desert" ng-if="meal.data.desert && meal.data.desert.name"><span>Dessert</span> : {{meal.data.desert.name}}</div>
    </div>
  </div>
</div>