<ion-view title="Historique" left-buttons="leftButtons">
    <ion-content class="has-header">
        <div ng-if="!(recipeHistory.length > 0)">
            Aucune recette vue actuellement...
        </div>
        <div class="list" ng-if="recipeHistory.length > 0">
            <div class="item item-divider">
                Dernières recettes vues
            </div>
            <a ng-repeat="recipe in recipeHistory"
               class="item item-thumbnail-left"
               ui-sref="sidemenu.recipe({id: recipe.id, from: 'history'})"
               type="item-link">
                <img ng-src="img/recipe/160x160/{{recipe.image}}">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.category}} - {{recipe.difficulty}} - {{recipe.budget}}</p>
            </a>
        </div>

        <div ng-if="!(productHistory.length > 0)">
            Aucune produit scanné actuellement...
        </div>
        <div class="list" ng-if="productHistory.length > 0">
            <div class="item item-divider">
                Derniers produits scannés
            </div>
            <a ng-repeat="product in productHistory"
               class="item item-thumbnail-left"
               ui-sref="sidemenu.product({barcode: product.barcode, from: 'history'})"
               type="item-link">
                <img ng-src="img/product/160x160/{{product.image}}">
                <h2>{{product.name}}</h2>
                <p>Marque: {{product.brand}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>