@import "_colors";

.recipes-screen {
  .recipes-empty {
    padding: 30px;
    text-align: center;
  }

  .item-recipe-img-full {
    position: relative;
    padding: 0px;
    border: none;
    & img {
      width: 100%;
      &.portrait { display: none; }
      &.landing { display: block; }
    }
    &.big-image {
      & img {
        &.portrait { display: block; }
        &.landing { display: none; }
      }
    }
    .ingredients-overlay {
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 100%;
      margin: auto;
      .list {
        vertical-align: middle;
        background: #fff;
        margin: auto;
        width: 75%;
        .item.item-divider {
          min-height: 25px;
          padding: 4px 8px;
          line-height: 16px;
          font-size: 16px;
        }
        .item.ingredient {
          padding: 3px;
          line-height: 14px;
          font-size: 14px;
          border: none;
          padding-left: 15px;
          &.assaisonnement, &.facultatif {
            color: rgba(68, 68, 68, 0.7);
            font-style: italic;
          }
        }
        .details {
          position: absolute;
          bottom: 5px;
          right: 5px;
          z-index: 100;
        }
      }
    }
    &.show-ingredients .ingredients-overlay {
      display: table;
    }
    .legend {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding: 5px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0,0,0,0.9);
      background-color: transparent;
      background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.9));
      background-image: linear-gradient(transparent, rgba(0,0,0,0.9));
      .content {
        position: static;
        .title {
          font-size: 24px;
          line-height: 28px;
          padding: 2px 0px;
          white-space: initial;
        }
        .subtitle {
          color: #ddd;
        }
      }
      .actions {
        float: right;
      }
    }
  }

  .feedback {
    .item.row .col {
      text-align: center;
      img {
        width: 60%;
      }
    }
  }
}


.recipe-screen {
  .recipe-meta {
    background: #eee;
    .col {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .header {
    background-color: #f5f5f5;
    color: #222;
    margin: -1px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    min-height: 30px;
    .row {
      padding: 0px;
      .col {
        padding: 0px;
      }
    }
  }
  .requirements {
    ul {
      .assaisonnement, .facultatif {
        float: left;
        padding-right: 5px;
        color: rgba(0,0,0,0.7);
        white-space: nowrap;
      }
      .assaisonnement:after, .facultatif:after { content: ','; }
      .assaisonnement:last-child:after, .facultatif:last-child:after { content: ''; }
    }
  }
  .instruction {
    margin: 0 0 10px;
    list-style-position: inside;
    li {
      list-style-type: circle;
      padding-left: 10px;
    }
  }
}

.recipes-screen, .recipe-screen {
  .legend-top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    .price {
      text-align: right;
      color: #fff;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0,0,0,0.9);
      padding: 3px 10px;
      .number {
        font-size: 30px;
        line-height: 30px;
      }
      .detail {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.cook-screen {
  .card {
    margin: 10px;
  }

  h1, h2 {
    font-size: 20px;
    color: #fff;
  }

  .header {
    // colors from https://dribbble.com/shots/974693-Easy-Note
    // #EEEFF3 #E87151 #26C0B8 #219ED8 #5DC9E6
    // #E9ECF1                 #1C98D4
    padding: 0px;
    background: #E87151;
    .col {
      padding: 0px;
    }
    .picture {
      img {
        width: 100%;
      }
    }
    .text {
      margin: 10px;
      position: relative;
      .tags {
        position: absolute;
        bottom: 0px;
        span {
          color: #fff;
          padding: 3px 6px;
          background: rgba(0,0,0,0.2);
          border-radius: 12px;
        }
      }
    }
  }
  .requirements {
    color: #fff;
    background: #26C0B8;
    ul {
      .assaisonnement, .facultatif {
        float: left;
        padding-right: 5px;
        color: rgba(255,255,255,0.7);
        white-space: nowrap;
      }
      .assaisonnement:after, .facultatif:after { content: ','; }
      .assaisonnement:last-child:after, .facultatif:last-child:after { content: ''; }
    }
  }
  .cooking {
    background-image: linear-gradient(#E9ECF1, #444);
    padding-bottom: 1px;
    h2 {
      margin: 10px;
      margin-top: 25px;
      color: #666;
    }
    .step {
      padding: 10px;
      h3 {
        margin-top: 0px;
        text-align: center;
        color: #666;
        font-weight: bold;
      }
      ul, ol {
        list-style-position: inside;
        margin: 5px;
      }
      ul { list-style-type: circle; }
      ol { list-style-type: decimal; }
      .help {
        color: #888;
      }
      mark, .mark {
        padding: .2em;
        background-color: #fcf8e3;
      }
      del, .del {
        text-decoration: line-through;
      }
      u, ins, .ins {
        text-decoration: underline;
      }
      i, em, .em { font-style: italic; }
      b, strong, .strong { font-weight: 700; }
      small, .small {
        font-size: 85%;
      }
      abbr[title], .abbr[title] {
        cursor: help;
        border-bottom: 1px dotted #000;
        .title {
          display: none;
        }
      }
    }
    .timers {
      margin: 10px;
    }
  }
  .cooked {
    background: #444;
    img {
      width: 100%;
    }
    .finish {
      h1 {
        padding-bottom: 20px;
        color: #f62;
        font-size: 40px;
        text-align: center;
      }
      button {
        display: block;
        margin: 20px auto;
        min-width: 200px;
        font-size: 25px;
      }
    }
  }
}

.tocook-screen {
  .card {
    margin: 10px;
    padding: 0px;
    background: #E87151;
    .col {
      padding: 0px;
    }
    .picture {
      img {
        width: 100%;
      }
    }
    .text {
      position: relative;
      margin: 10px;
      .cart-link {
        float: right;
        padding-left: 5px;
        color: #fff;
      }
      h1 {
        font-size: 18px;
        color: #fff;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .progress {
        margin-bottom: 10px;
        .progress-bar {
          background-color: #26C0B8;
        }
      }
      .button {
        display: block;
        margin: auto;
        padding: 0 30px;
        color: #fff;
        background: rgba(0,0,0,0.2);
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        line-height: 36px;
        min-height: 38px;
      }
      .tags {
        position: absolute;
        bottom: 0px;
        span {
          color: #fff;
          padding: 3px 6px;
          background: rgba(0,0,0,0.2);
          border-radius: 12px;
        }
      }
    }
  }
}

.cooked-screen {
  .card {
    margin: 10px;
    padding: 0px;
    background: #E87151;
    .col {
      padding: 0px;
    }
    .picture {
      img {
        width: 100%;
      }
    }
    .text {
      position: relative;
      margin: 10px;
      color: #fff;
      h1 {
        font-size: 20px;
        color: #fff;
      }
      .content {
        display: flex;
        align-items: center; /* align vertical */
      }
      .tags {
        position: absolute;
        bottom: 0px;
        span {
          color: #fff;
          padding: 3px 6px;
          background: rgba(0,0,0,0.2);
          border-radius: 12px;
        }
      }
    }
  }
}

.timer {
  padding: 5px;
  margin: 10px 20px;
  box-shadow: 0 4px 15px -4px #000;
  color: rgba(255,255,255,0.7);
  &.active {
    color: rgba(255,255,255,1);
    .steps {
      border-color: rgba(238,233,220,1);
      .step .circle {
        border-color: rgba(238,233,220,1);
      }
    }
  }
  &.alarm {
    -webkit-animation: blink 1.2s linear infinite;
    -moz-animation: blink 1.2s linear infinite;
    -ms-animation: blink 1.2s linear infinite;
    -o-animation: blink 1.2s linear infinite;
    animation: blink 1.2s linear infinite;
  }
  .label {
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
  }
  .time {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
  .steps {
    list-style: none;
    margin-left: 55px;
    border-left: 8px solid rgba(238,233,220,0.7);
    .step {
      position: relative;
      margin: 5px 0;
      padding: 50px 5px 0;
      border: none;
      .date {
        position: absolute;
        top: 50%;
        left: -58px;
        margin-top: -3px;
      }
      .circle {
        position: absolute;
        top: 50%;
        left: -14px;
        margin-top: -3px;
        width: 20px;
        height: 20px;
        background: #bbb;
        border: 5px solid rgba(238,233,220,0.7);
        border-radius: 50%;
      }
      .label {
        position: absolute;
        top: 23px;
        left: 15px;
        width: 100%;
        font-size: 1em;
        text-align: left;
      }
      &.unselected {
        color: rgba(255,255,255,0.5);
        .label { color: rgba(255,255,255,0.5); }
        .circle { border-color: rgba(255,255,255,0.5); }
      }
      &.selected {
        font-weight: bold;
        .circle { background: #bbb; }
      }
    }
  }
  // colors from http://www.colourlovers.com/palette/845564/its_raining_love
  &.green, &.green .circle { background: #A3A948; }
  &.yellow, &.yellow .circle { background: #EDB92E; }
  &.orange, &.orange .circle { background: #F85931; }
  &.red, &.red .steps .circle { background: #CE1836; }
  &.blue, &.blue .circle { background: #009989; }
}
