<ion-view bindonce="recipe">
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title handwritten">Cook time !</h1>
    <div class="buttons">
      <button class="button button-clear bold" ng-class="{warn: timer < 0}">{{timer | duration}}</button>
    </div>
  </ion-header-bar>

  <ion-content class="cook-screen" bo-class="{empty: !(recipe && recipe.id)}" delegate-handle="cookScroll">
    <div class="screen-empty">La recette demandée n'a pas été trouvée :(</div>

    <div class="screen" ng-cloack>
      <div class="header row card">
        <div class="col col-33 picture">
          <img-recipe images="recipe.images" type="portrait"></img-recipe>
        </div>
        <div class="col text">
          <h1 class="title" bo-bind="recipe.name"></h1>
          <div class="tags">
            <span ng-click="changeServings()" ng-bind="recipe.servings | servings:servingsAdjust"></span>
            <span bo-bind="recipe.time | cookTime"></span>
          </div>
        </div>
      </div>
      <div class="requirements row card">
        <div class="col">
          <h2 class="title">Ingrédients</h2>
          <ul>
            <li bindonce ng-repeat="ingredient in recipe.ingredients" bo-class="ingredient.role" ng-bind="ingredient | ingredient:servingsAdjust"></li>
          </ul>
        </div>
        <div class="col">
          <h2 class="title">Ustensiles</h2>
          <ul>
            <li bindonce ng-repeat="tool in recipe.tools" class="title" bo-bind="tool | tool"></li>
          </ul>
        </div>
      </div>
      <div class="cooking">
        <h2 class="title">Préparation</h2>
        <div bindonce ng-repeat="instruction in recipe.instructions">
          <div class="step card">
            <h3 bo-if="instruction.title" bo-html="instruction.title"></h3>
            <div bo-html="instruction.content"></div>
          </div>
          <div class="timers" bo-if="instruction.timers">
            <cook-timer ng-repeat="timer in instruction.timers" data="timer"></cook-timer>
          </div>
        </div>
      </div>
      <div class="cooked">
        <img-recipe images="recipe.images" type="landing"></img-recipe>
        <div class="finish">
          <button class="button button-balanced handwritten" ng-click="done()">Fini !</button>
          <h1 class="title handwritten">
            Bravo,<br>
            Et bon appétit <i class="fa fa-smile-o"></i>
          </h1>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>