<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title handwritten">Recettes cuisinées</h1>
  </ion-header-bar>

  <ion-content class="cooked-screen" ng-class="{empty: !(recipes && recipes.length > 0)}">
    <div class="screen-empty">Toutes les recettes que tu as cuisinées se retrouvent ici. Commence par ajouter des recettes à ta liste de courses !</div>

    <div class="screen">
      <div class="header row card" ng-repeat="recipe in recipes" ui-sref="app.recipe({recipeId: recipe.id})">
        <div class="col col-33 picture" ng-if="$index%2 === 0"><img ng-src="{{recipe.images.portrait}}"></div>
        <div class="col text">
          <h1 class="title">{{recipe.name}}</h1>
          <div class="content">
            Cuisiné le <b>{{recipe.cartData.cooked.time | date}}</b><br>
            en <b>{{recipe.cartData.cooked.duration | duration:true}}</b>
          </div>
          <div class="tags">
            <span ng-click="changeServings(recipe)">{{recipe.cartData.servings | servings}}</span>
            <span>{{recipe.time | cookTime}}</span>
          </div>
        </div>
        <div class="col col-33 picture" ng-if="$index%2 === 1"><img ng-src="{{recipe.images.portrait}}"></div>
      </div>
    </div>
  </ion-content>
</ion-view>