<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">{{recipe.name}}</h1>
      <button class="button button-icon fa fa-cutlery" ui-sref="app.cook({recipeId: recipe.id})"></button>
    </div>
  </ion-header-bar>

  <ion-content class="recipe" ng-cloack>
    <img ng-src="{{recipe.images.landing}}" style="width: 100%">
    <div class="row recipe-meta">
      <div class="col"><i class="fa fa-tag"></i> {{recipe.category}}</div>
      <div class="col"><i class="fa fa-clock-o"></i> {{recipe.time.eat}} {{recipe.time.unit}}</div>
      <div class="col"><i class="fa fa-users"></i> {{recipe.servings.value}} {{recipe.servings.unit}}</div>
    </div>
    <div class="ingredients">
      <h2 class="title">Ingrédients ({{recipe.ingredients.length}})</h2>
      <div class="padding">
        <div ng-repeat="ingredient in recipe.ingredients" class="ingredient">{{ingredient | ingredient}}</div>
      </div>
    </div>
    <div class="instructions">
      <h2 class="title">Préparation ({{recipe.instructions.length}} étapes)</h2>
      <div class="padding">
        <div ng-repeat="instruction in recipe.instructions" class="instruction">
          <h3 class="title">étape {{$index+1}}</h3>
          <div class="content" ng-bind-html="instruction.content"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>