<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title">La sélection Cookers</h1>
  </ion-header-bar>

  <ion-content class="recipes-screen" ng-class="{empty: !(selection && selection.recipes && selection.recipes.length > 0)}">
    <div class="screen-empty">
      <loading ng-if="status === 'loading'"></loading>
      <div ng-if="status === 'loaded'">
        Aucune recette planifiée cette semaine :(<br>
        Merci de le signaler à <a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a>.
      </div>
      <div ng-if="status === 'error'">
        Impossible de charger les recettes :(<br>
        Vérifie que tu as accès à internet et
        <button class="button button-block button-stable" ng-click="loadSelection()">Charge à nouveau la sélection</button>
      </div>
    </div>

    <div class="screen">
      <div class="list">
        <div class="item item-recipe-img-full card" bo-class="{'big-image': ctx.settings.bigImages}" ng-class="{'show-ingredients': recipe === recipeShowIngredients}" bindonce ng-repeat="recipe in selection.recipes">
          <recipe-image images="recipe.images" ng-click="toggleIngredients(recipe, $index)"></recipe-image>
          <div class="legend-top">
            <div class="price" bo-if="ctx.settings.showPrices">
              <div class="number" bo-bind="recipe.price | price:false"></div>
              <div class="detail" bo-if="recipe.price.unit" bo-bind="'/'+recipe.price.unit"></div>
            </div>
          </div>
          <div class="ingredients-overlay" ng-click="toggleIngredients(recipe, $index)">
            <div class="list">
              <div class="item item-divider" bo-bind="'Ingrédients pour '+(recipe.servings | servings)"></div>
              <div bindonce ng-repeat="ingredient in recipe.ingredients" class="item ingredient" bo-class="ingredient.role" bo-bind="ingredient | ingredient"></div>
              <a class="fa-stack fa-lg calm details" bo-href="'#/app/recipe/'+recipe.id+'?recipeIndex='+$index">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x"></i>
              </a>
            </div>
          </div>
          <div class="legend">
            <div class="actions">
              <span ng-show="!recipe.$formated.isInCart" class="fa-stack fa-lg balanced" ng-click="addRecipeToCart(recipe, $index)">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
              <span ng-show="recipe.$formated.isInCart" class="fa-stack fa-lg assertive" ng-click="removeRecipeFromCart(recipe, $index)">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-minus fa-stack-1x"></i>
              </span>
            </div>
            <div class="content" ng-click="toggleIngredients(recipe, $index)">
              <div class="title" bo-bind="recipe.name"></div>
              <div class="subtitle" bo-bind="(recipe.time | cookTime)+', '+recipe.ingredients.length+' ingrédients'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="list card feedback">
        <a class="item item-text-wrap" href="#/app/feedback">
          C'était notre sélection de la semaine !<br>
          Tu valides ?
        </a>
        <div class="item row">
          <div class="col" ng-click="recipeFeedback(1)"><img src="images/blah.png"></div>
          <div class="col" ng-click="recipeFeedback(2)"><img src="images/great.png"></div>
          <div class="col" ng-click="recipeFeedback(3)"><img src="images/awesome.png"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>