<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title">{{recipe.name}}</h1>
    <div class="buttons">
      <button class="button button-icon fa fa-cutlery" ui-sref="app.cook({cartId: 'none', recipeId: recipe.id})"></button>
    </div>
  </ion-header-bar>

  <ion-content class="recipe-screen" ng-class="{empty: !(recipe && recipe.id)}">
    <div class="screen-empty">La recette demandée n'a pas été trouvée :(</div>

    <div class="screen" ng-cloack>
      <img ng-src="{{recipe.images.landing}}" style="width: 100%">
      <div class="row recipe-meta">
        <div class="col"><i class="fa fa-tag"></i> {{recipe.category}}</div>
        <div class="col"><i class="fa fa-clock-o"></i> {{recipe.time.eat}} {{recipe.time.unit}}</div>
        <div class="col"><i class="fa fa-users"></i> {{recipe.servings.value}} {{recipe.servings.unit}}</div>
      </div>
      <div class="requirements">
        <h2 class="header">
          <div class="row">
            <div class="col">Ingrédients</div>
            <div class="col">Ustensiles</div>
          </div>
        </h2>
        <div class="row">
          <div class="col">
            <ul>
              <li ng-repeat="ingredient in recipe.ingredients" class="{{ingredient.role}}">{{ingredient | ingredient:servingsAdjust}}</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li ng-repeat="tool in recipe.tools">{{tool | tool}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="instructions">
        <h2 class="header">Préparation</h2>
        <div class="padding">
          <ul ng-repeat="instruction in recipe.instructions" class="instruction">
            <li ng-if="instruction.summary" ng-bind-html="instruction.summary"></li>
            <li ng-if="!instruction.summary" ng-bind-html="instruction.content"></li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>