<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title">{{recipe.name}}</h1>
  </ion-header-bar>

  <ion-content class="recipe-screen" ng-class="{empty: !(recipe && recipe.id)}">
    <div class="screen-empty">La recette demandée n'a pas été trouvée :(</div>

    <div class="screen" ng-cloack>
      <img ng-src="{{recipe.images.landing}}" style="width: 100%">
      <div class="row recipe-meta card">
        <div class="col"><i class="fa fa-tag"></i> {{recipe.category}}</div>
        <div class="col"><i class="fa fa-clock-o"></i> {{recipe.time | cookTime}}</div>
        <div class="col"><i class="fa fa-users"></i> {{recipe.servings | servings}}</div>
      </div>
      <div class="requirements card">
        <h2 class="header">
          <div class="row">
            <div class="col">Ingrédients</div>
            <div class="col">Ustensiles</div>
          </div>
        </h2>
        <div class="row">
          <div class="col">
            <ul>
              <li ng-repeat="ingredient in recipe.ingredients" class="{{ingredient.role}}">{{ingredient | ingredient}}</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li ng-repeat="tool in recipe.tools">{{tool | tool}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="instructions card">
        <h2 class="header">Préparation</h2>
        <div class="padding">
          <ul ng-repeat="instruction in recipe.instructions" class="instruction">
            <li ng-if="instruction.summary" ng-bind-html="instruction.summary"></li>
            <li ng-if="!instruction.summary" ng-bind-html="instruction.content"></li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <div class="button-bar spaced">
      <a class="button icon-left ion-clipboard button-balanced" ng-click="addRecipeToCart(recipe)" ng-if="!cartHasRecipe(recipe)">A acheter !</a>
      <a class="button icon-left ion-clipboard button-assertive" ng-click="removeRecipeFromCart(recipe)" ng-if="cartHasRecipe(recipe)">A supprimer !</a>
      <a class="button icon-left fa fa-cutlery button-assertive" ui-sref="app.cook({cartId: 'none', recipeId: recipe.id})">Cuisiner !</a>
    </div>
  </ion-footer-bar>
</ion-view>