<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title handwritten">Recettes à cuisiner</h1>
  </ion-header-bar>

  <ion-content class="tocook-screen" ng-class="{empty: !(recipes && recipes.length > 0)}">
    <div class="screen-empty">Ajoute des recettes à ta liste de course pour les voir apparaitre ici !</div>

    <div class="screen">
      <div class="row card" ng-repeat="recipe in recipes" ng-if="recipes && recipes.length > 0">
        <div class="col col-33 picture" ng-if="$index%2 === 0"><img ng-src="{{recipe.images.portrait}}"></div>
        <div class="col text">
          <a class="cart-link" ui-sref="app.cart.ingredients"><i class="icon ion-clipboard"></i></a>
          <h1 class="title">{{recipe.name}}</h1>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{recipe.cartData.boughtPc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{recipe.cartData.boughtPc}}%;">
              {{recipe.cartData.boughtPc | mynumber:0}}% acheté
            </div>
          </div>
          <button class="button" ui-sref="app.cook({cartId: recipe.cartData.cart, recipeId: recipe.id})">Cuisiner</button>
          <div class="tags">
            <span ng-click="changeServings(recipe)">{{recipe.cartData.servings | servings}}</span>
            <span>{{recipe.time | cookTime}}</span>
          </div>
        </div>
        <div class="col col-33 picture" ng-if="$index%2 === 1"><img ng-src="{{recipe.images.portrait}}"></div>
      </div>
    </div>
  </ion-content>
</ion-view>