<ion-view title="{{recipe.name ? recipe.name : 'Loading...'}}">
    <ion-nav-bar class="recipes" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios7-star-outline" ng-click="favorite()"></button>
        <button class="button button-icon ion-share" ng-click="share()"></button>
    </ion-nav-buttons>
    <ion-content class="recipe">
        <img ng-src="images/recipes/450x150/{{recipe.img}}" style="width: 100%">
        <div class="meta padding">
            <b>{{recipe.category}}</b><br>
            <i class="icon ion-speedometer"></i> Difficulté: {{recipe.difficulty}}<br>
            <i class="icon ion-pricetag"></i> Prix: {{recipe.price}}{{recipe.priceUnit}} environ<br>
            <i class="icon ion-thumbsup"></i> Note: {{recipe.rating}}/{{recipe.ratingMax}} ({{recipe.ratingsNumber}} vote)<br>
            <i class="icon ion-clock"></i> Prêt en: {{recipe.eatTime}} {{recipe.eatTimeUnit}}
        </div>
        <div class="padding">
            <h4>Ingrédients ({{recipe.serving}} {{recipe.servingUnit}})</h4>
            <ul class="ingredients">
                <li ng-repeat="ingredient in recipe.ingredients" class="{{ingredient.role}}" ng-if="ingredient.role !== 'other'">
                    {{ingredient.quantity}} {{ingredient.quantityUnit !== 'piece' ? ingredient.quantityUnit : ''}}
                    {{ingredient.pre}}{{ingredient.name}}{{ingredient.post}}
                </li>
            </ul>
            <div class="ingredients">
                <span ng-repeat="ingredient in recipe.ingredients" class="{{ingredient.role}}" ng-if="ingredient.role === 'other'">
                    {{ingredient.quantity}} {{ingredient.quantityUnit !== 'piece' ? ingredient.quantityUnit : ''}}
                    {{ingredient.pre}}{{ingredient.name}}{{ingredient.post}}<span ng-if="!$last">, </span>
                </span>
            </div>
            <h4>Ustensiles</h4>
            <ul class="tools">
                <li ng-repeat="tool in recipe.tools">{{tool.quantity}} {{tool.tool}}</li>
            </ul>
            <h4>Préparation</h4>
            <div class="instructions">
                <p ng-repeat="instruction in recipe.instructions">{{instruction}}</p>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">Commentaires</div>
            <div class="item">
                Bla bla
            </div>
            <br>
            <div class="item item-divider">Recettes similaires</div>
            <a class="item item-thumbnail-left" ui-sref="sidemenu.recipes.recipe({id: 'toto'})">
                <img src="images/recipes/80x80/poulet-a-l-ananas.jpg">
                <h2>Poulet à l'ananas</h2>
                <p>Plat principal, 4/5</p>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-balanced" ng-click="addIngredientsToListForm(recipe)">&nbsp;Ajouter les ingrédients à ma liste de courses&nbsp;</button>
        </div>
    </ion-footer-bar>
</ion-view>