<ion-view title="Chercher des recettes">
    <ion-nav-bar class="recipes" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div>
            <h3>Prix ( &lt; {{search.price | number:0}} €/personne) :</h3>
            <div class="range range-assertive">
                € <input type="range" name="price" min="4" max="20" ng-model="search.price"> € € €
            </div>
        </div>
        <hr>
        <div>
            <h3>Préparation ( &lt; {{search.time | number:0}} min) :</h3>
            <div class="range range-assertive">
                <i class="icon ion-clock" style="font-size: 16px; min-width: 16px;"></i>
                <input type="range" name="time" min="10" max="60" ng-model="search.time">
                <i class="icon ion-clock" style="font-size: 16px; min-width: 16px;"></i>
                <i class="icon ion-clock" style="font-size: 16px; min-width: 16px;"></i>
                <i class="icon ion-clock" style="font-size: 16px; min-width: 16px;"></i>
            </div>
        </div>
        <button class="button button-block button-balanced" ui-sref="sidemenu.recipes.results">
            Trouver des recettes
        </button>
    </ion-content>
</ion-view>