<ion-view title="Chercher des recettes">
    <ion-nav-bar class="recipes" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding recipe-search">
        <div class="search-item">
            <h4>Prix ( &lt; {{search.price | number:0}} € / personne) :</h4>
            <div class="range range-assertive">
                <i class="fa fa-eur"></i>
                <input type="range" name="price" min="1" max="20" ng-model="search.price">
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur"></i>
                <i class="fa fa-eur"></i>
            </div>
        </div>
        <hr>
        <div class="search-item">
            <h4>Préparation ( &lt; {{search.time | number:0}} min) :</h4>
            <div class="range range-assertive">
                <i class="fa fa-clock-o"></i>
                <input type="range" name="time" min="10" max="60" ng-model="search.time">
                <i class="fa fa-clock-o"></i>
                <i class="fa fa-clock-o"></i>
                <i class="fa fa-clock-o"></i>
            </div>
        </div>
        <button class="button button-block button-balanced" ui-sref="sidemenu.recipes.results">
            Trouver des recettes
        </button>
    </ion-content>
</ion-view>