@import "_colors";

$header-size: 200px;
$footer-size: 80px;

.keyboard-open .login-screen {
  .bar-header { display: none; }
  .bar-footer { display: none; }
  .has-header { top: 0px; }
  .has-footer { bottom: 0px; }
}

.login-screen {
  .scroll-content {
    background: #fff;
  }
  .bar-header {
    border: none;
    height: $header-size;
    background: url(../images/login/pizza-soleil-au-chorizo.jpg);
    background-position: 0% 58%;
    background-size: cover;
    h1 {
      margin: 0;
      height: $header-size;
      background-image: linear-gradient(rgba(0,0,0,0.9), transparent);
      img {
        width: 50%;
        margin-top: 15%;
      }
    }
  }
  .bar-footer {
    height: $footer-size;
    //background: url(../images/profile-covers/cover01.jpg);
    padding: 0px;
    .row {
      padding: 0px;
      .col {
        padding: 0px;
        img {
          width: 100%;
        }
      }
    }
  }
  &.alt .bar-header { background: url(../images/login/wood.jpg); }
  .has-header { top: $header-size; }
  .has-footer { bottom: $footer-size; }

  h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #888;
  }
  .connect-btn {
    display: block;
    margin: 10px auto;
    padding: 0px;
    padding-right: 20px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: right;
    color: #fff;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
    border: 1px solid;
    border-radius: 4px;
    .icon {
      float: left;
      width: 56px;
      padding: 0px 20px;
      line-height: 40px;
      text-align: center;
      background: rgba(0,0,0,.3);
      .fa { display: inline-block; }
      .fa.loading { display: none; }
    }
    &.facebook {
      background-color: #3b5998;
      border-color: #133783;
    }
    &.twitter {
      background-color: #2daddc;
      border-color: #0271bf;
    }
    &.google {
      background-color: #dd4b39;
      border-color: #c53727;
    }
    &.email {
      background-color: $custom-bg;
      border-color: $custom-border;
    }
  }
  .connect-btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .icon {
      .fa { display: none; }
      .fa.loading { display: inline-block; }
    }
  }


  .email-tabs {
    padding: 0px;
    color: #888;
    .col {
      height: 60px;
      line-height: 50px;
      font-size: 25px;
      text-align: center;
      vertical-align: middle;
      background: #eee;
      &.active {
        background: #fff;
      }
    }
  }

  form {
    .input-label {
      color: #888;
      i {
        width: 20px;
      }
    }
  }
}
