<ion-view class="login-screen alt">
  <ion-header-bar>
    <div class="buttons">
      <!--<button class="button button-icon ion-arrow-left-c" ng-click="goIntro()"></button>-->
      <h1 class="title"><img src="images/cookers-white.png"></h1>
    </div>
  </ion-header-bar>

  <ion-content>
    <!-- Inspiration : http://www.pinterest.com/pin/31103053652300405/ -->
    <div class="row email-tabs" ng-init="tab = 'register'">
      <div class="col" ng-class="{active: tab === 'login'}" ng-click="tab = 'login'">Se connecter</div>
      <div class="col" ng-class="{active: tab !== 'login'}" ng-click="tab = 'register'">S'inscrire</div>
    </div>

    <div class="alert alert-info card" ng-if="state.hasError">
      Un problème ?<br>
      N'hésite pas à me contacter, <a href="mailto:loic@cookers.io">loic@cookers.io</a>
    </div>

    <form ng-submit="emailConnect(tab)">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label"><i class="fa fa-envelope"></i> Email</span>
          <input type="email" ng-model="credentials.email" placeholder="ex: nom@example.com" blur-on-keyboard-out required>
        </label>
        <label class="item item-input">
          <span class="input-label"><i class="fa fa-lock"></i> Mot de passe</span>
          <input type="password" ng-model="credentials.password" blur-on-keyboard-out required>
        </label>
        <button type="submit" class="button button-full button-custom" ng-disabled="loading.email">
          <i class="fa fa-spinner fa-spin" ng-if="loading.email"></i>
          <span ng-show="tab === 'login'">Se connecter</span>
          <span ng-show="tab !== 'login'">S'inscrire</span>
        </button>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar>
    <div class="row">
      <div class="col"><img src="images/login/old_cutelry.jpg"></div>
      <div class="col"><img src="images/login/original_Serve_Set_V2_warmer.jpg"></div>
      <div class="col"><img src="images/login/cutlery-bouquet.jpg"></div>
    </div>
  </ion-footer-bar>
</ion-view>