    <!-- Inspiration : http://www.pinterest.com/pin/31103053652300431/ -->
<ion-view class="login-screen">
  <ion-header-bar>
    <div class="buttons">
      <!--<button class="button button-icon ion-arrow-left-c" ng-click="goIntro()"></button>-->
      <h1 class="title"><img src="images/cookers-white.png"></h1>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="alert alert-info card" ng-if="state.hasError">
      Un problème ?<br>
      N'hésite pas à me contacter, <a href="mailto:loic@cookers.io">loic@cookers.io</a>
    </div>

    <h1 class="handwritten" ng-if="!state.hasError">La cuisine rapide !</h1>

    <button class="connect-btn facebook" ng-click="facebookConnect()" ng-disabled="loading.facebook">
      <span class="icon">
        <i class="fa fa-spinner fa-spin loading"></i>
        <i class="fa fa-facebook"></i>
      </span>
      Connecte-toi avec <b>Facebook</b>
    </button>

    <button class="connect-btn twitter" ng-click="twitterConnect()" ng-disabled="loading.twitter">
      <span class="icon">
        <i class="fa fa-spinner fa-spin loading"></i>
        <i class="fa fa-twitter"></i>
      </span>
      Connecte-toi avec <b>Twitter</b>
    </button>

    <button class="connect-btn google" ng-click="googleConnect()" ng-disabled="loading.google">
      <span class="icon">
        <i class="fa fa-spinner fa-spin loading"></i>
        <i class="fa fa-google"></i>
      </span>
      Connecte-toi avec <b>Google</b>
    </button>

    <button class="connect-btn email" ui-sref="login-email">
      <span class="icon">
        <i class="fa fa-envelope"></i>
      </span>
      Connecte-toi avec ton <b>Email</b>
    </button>
  </ion-content>

  <ion-footer-bar>
    <div class="row">
      <div class="col"><img src="images/login/gateaux-au-yaourt-enfin-des-recettes-originales.jpg"></div>
      <div class="col"><img src="images/login/les-recettes-du-regime-fractionne-du-dr-cohen.jpg"></div>
      <div class="col"><img src="images/login/nos-recettes-de-verrines-completement-magiques.jpg"></div>
    </div>
  </ion-footer-bar>
</ion-view>