<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title">Donne ton avis !</h1>
  </ion-header-bar>

  <ion-content class="feedback-screen">
    <div class="team hide-on-keyboard-open">
      <img src="images/team.png">
      <div class="legend">Nous sommes friands de retours et adorons discuter avec nos utilisateurs !</div>
    </div>

    <form ng-submit="sendFeedback()" class="feedback-form">
      <div class="list list-inset">
        <label class="item item-input" ng-if="!feedback.email">
          <input type="email" name="email" placeholder="Email" ng-model="feedback.email" ng-disabled="feedback.sending || feedback.sent" required>
        </label>
        <label class="item item-input">
          <textarea name="content" rows="5" blur-on-keyboard-out ng-model="feedback.content" ng-disabled="feedback.sending || feedback.sent" placeholder="Un p'tit compliment ? Quelle est ta fonctionnalité préférée ?" required>{{feedback.content}}</textarea>
        </label>
      </div>
      <div class="padding" ng-class="{hide: feedback.sent}">
        <button type="submit" class="button button-block button-positive" ng-disabled="feedback.sending">
          <span ng-if="!feedback.sending">Envoyer</span>
          <span ng-if="feedback.sending"><i class="fa fa-spinner fa-spin"></i> Envoi...</span>
        </button>
      </div>
      <div class="padding" ng-class="{fadeInUp: feedback.sent, hide: !feedback.sent}">
        <div class="alert alert-success"  style="margin-bottom: 5px;">
          Merci de ton retour !
        </div>
      </div>
    </form>
    <div class="padding">
      Viens découvrir <a href="http://cookers.uservoice.com/">les prochaines fonctionnalités</a> et vote pour celles que tu préfères !
    </div>

    <!-- UserVoice widget -->
    <div id="uservoice" data-html2canvas-ignore="true" class="uv-icon uv-bottom-right" ng-click="openUservoice()">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
        <g><path class="uv-bubble-background" fill="rgba(46, 49, 51, 0.6)" d="M31.425,34.514c-0.432-0.944-0.579-2.007-0.591-2.999c4.264-3.133,7.008-7.969,7.008-13.409
          C37.842,8.658,29.594,1,19.421,1S1,8.658,1,18.105c0,9.446,7.932,16.79,18.105,16.79c1.845,0,3.94,0.057,5.62-0.412
          c0.979,1.023,2.243,2.3,2.915,2.791c3.785,2.759,7.571,0,7.571,0S32.687,37.274,31.425,34.514z" style="fill: rgb(226, 117, 58);"></path></g>
        <g><g><path class="uv-bubble-foreground" fill="#FFFFFF" d="M24.951,9.07c-0.83-0.836-1.857-1.453-2.976-1.786C21.337,7.096,20.672,7,20,7
          c-1.87,0-3.628,0.736-4.952,2.07C13.728,10.403,13,11.864,13,13.751l0.03,0.648c0.086,0.972,0.368,1.896,0.834,2.752
          c0.776,1.399,2.367,2.849,2.637,4.993l0.163,0.972C16.809,23.703,17.105,24,17.549,24h5.054c0.445,0,0.742-0.297,0.884-0.884
          l0.014-0.972c0.268-2.144,1.802-3.593,2.657-4.993c0.443-0.855,0.725-1.779,0.811-2.752L27,13.751
          C26.999,11.864,26.271,10.405,24.951,9.07z M17.101,26.554h5.741v-1.66h-5.741V26.554z M18.392,28.668h3.216l0.414-0.83h-4.101
          L18.392,28.668z" style="fill: rgb(255, 255, 255);"></path></g></g>
      </svg>
    </div>
  </ion-content>
</ion-view>