<ion-view title="{{list.name}}">
    <ion-nav-bar class="shoppinglist" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-checkmark"  ui-sref="sidemenu.shoppinglist.cart"></button>
    </ion-nav-buttons>
    <ion-content class="ingredient-grid">
        <div>
            <div class="row">
                <div class="col col-25 ingredient category">
                    <div class="img"><img src="images/ingredients/100x100/fruits.jpg"></div>
                    <div class="name">Fruits</div>
                </div>
                <div class="col col-25 ingredient">
                    <div class="img"><img src="images/ingredients/100x100/legumes.jpg"></div>
                    <div class="name">Légumes</div>
                </div>
                <div class="col col-25 ingredient category">
                    <div class="img"><img src="images/ingredients/100x100/legumes.jpg"></div>
                    <div class="name">Légumes</div>
                </div>
                <div class="col col-25 ingredient category">
                    <div class="img"><img src="images/ingredients/100x100/legumes.jpg"></div>
                    <div class="name">Légumes</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-25 ingredient category">
                    <div class="img"><img src="images/ingredients/100x100/fruits.jpg"></div>
                    <div class="name">Fruits</div>
                </div>
                <div class="col col-25 ingredient category">
                    <div class="img">
                        <img src="images/ingredients/100x100/legumes.jpg">
                        <div>Ajouté</div>
                    </div>
                    <div class="name">Légumes</div>
                </div>
                <div class="col col-25 ingredient">
                    <div class="img">
                        <img src="images/ingredients/100x100/legumes.jpg">
                        <div>Ajouté</div>
                    </div>
                    <div class="name">Légumes</div>
                </div>
                <div class="col col-25 ingredient selected">
                    <div class="img">
                        <img src="images/ingredients/100x100/legumes.jpg">
                        <div>Ajouté</div>
                    </div>
                    <div class="name">Légumes</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>