<ion-view title="{{list.name}}">
    <ion-nav-bar ng-class="header.style" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-compose" ng-click="editList()"></button>
        <button class="button button-icon ion-shuffle" ng-click="changeList()"></button>
        <button class="button button-icon ion-share" ng-click="shareList()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Chercher et ajouter un produit">
            </label>
            <a class="item item-icon-left" ui-sref="sidemenu.shoppinglist.addproducts">
                <i class="icon ion-plus-circled"></i>
                Ajouter des produits
            </a>
        </div>

        <div class="list shoppinglist">
            <div class="item item-divider">Fruits</div>
            <div class="item item-avatar">
                <img src="images/ingredients/100x100/ananas.jpg">
                <div class="pull-right">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                </div>
                <h2>Ananas</h2>
                <span class="item-note">3 pièces</span>
                <p>Bien mûr</p>
            </div>
        </div>
        
        <div class="list shoppinglist bought">
            <div class="item item-divider">Produits achetés</div>
            <div class="item item-avatar">
                <img src="images/ingredients/100x100/ananas.jpg">
                <div class="pull-right">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                    </label>
                </div>
                <h2>Ananas</h2>
                <span class="item-note">3 pièces</span>
                <p>Bien mûr</p>
            </div>
        </div>
    </ion-content>
</ion-view>