<!DOCTYPE html>
<html>
  <head>
    <script>var INIT = Date.now();</script>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Cookers</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- cordova script -->
    <script src="cordova.js"></script>
    
    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/collide/collide.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/speakingurl/speakingurl.min.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/lang/fr.js"></script>
    <script src="vendor/ionic.swipecards.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/controllers.js"></script>
    
    <script src="scripts/common/utils.js"></script>
    <script src="scripts/common/logger.js"></script>
    <script src="scripts/launch/launch.js"></script>
    <script src="scripts/auth/auth.js"></script>
    <script src="scripts/cart/cart.js"></script>
    <script src="scripts/recipe/recipe.js"></script>
    <script src="scripts/user/user.js"></script>
    <!-- endbuild -->

    <!-- Mixpanel sdk -->
    <script type="text/javascript">
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" "); for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="vendor/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("41df619f80b556df0ac508e39860dd1d");
    </script>
    <!-- UserVoice sdk -->
    <script src="vendor/uservoice.sgaZpMRlJ1wf7x7sAmxGUg.js"></script>
  </head>

  <body ng-app="app">
    <ion-nav-view></ion-nav-view>
  </body>
  
  
  
  <!-- preload sidemenu & home (improve initialization time) -->
  <script type="text/ng-template" id="views/sidemenu.html">
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-content class="sidemenu">
          <div class="profile">
            <div class="cover" ng-style="{'background-image': 'url('+imageCover+')'}"></div>
            <div menu-close ui-sref="app.profile">
              <div class="avatar" ng-style="{'background-image': 'url('+user.avatar+')'}"></div>
              <div class="username">{{user.name}}</div>
              <div class="role" ng-bind-html="user.score.level.html"></div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="stats">
            <div class="progress">
              <div class="progress-bar" ng-class="{'progress-bar-info': user.score.value !== user.score.level.next, 'progress-bar-success': user.score.value === user.score.level.next}" role="progressbar" aria-valuenow="{{user.score.value}}" aria-valuemin="0" aria-valuemax="{{user.score.level.next}}" style="width: {{100 * user.score.value / user.score.level.next}}%;">
              </div>
            </div>
          </div>
          <div class="list">
            <div class="item item-divider">Cookers</div>
            <a class="item item-icon-left" menu-close ui-sref="app.home"><i class="icon ion-home"></i> Accueil</a>
            <a class="item item-icon-left" menu-close ui-sref="app.recipes"><i class="icon ion-lightbulb"></i> La sélection Cookers</a>
            <a class="item item-icon-left" menu-close ui-sref="app.cart.ingredients"><i class="icon ion-clipboard"></i> Ma liste de courses</a>
            <a class="item item-icon-left" menu-close ui-sref="app.tocook"><i class="icon ion-clock"></i> Mes recettes à cuisiner</a>
          </div>
          <div class="list">
            <div class="item item-divider">Outils</div>
            <a class="item item-icon-left" menu-close ui-sref="app.feedback"><i class="icon ion-android-forums"></i> Donne ton avis</a>
            <a class="item item-icon-left" menu-close ui-sref="intro"><i class="icon ion-log-in"></i> Introduction</a>
          </div>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </script>
  
  <script type="text/ng-template" id="views/home.html">
    <ion-view>
      <ion-header-bar class="bar-custom">
        <div class="buttons">
          <button menu-toggle="left" class="button button-icon ion-navicon"></button>
        </div>
        <h1 class="title">Accueil <span ng-if="debug">(debug mode)</span></h1>
      </ion-header-bar>

      <ion-content class="home">
        <div class="padding message" ng-repeat="msg in stickyMessages">
          <div class="alert alert-{{msg.display}} card">
            <span external-content="msg.content"></span>
          </div>
        </div>
        <div class="padding message" ng-if="standardMessage">
          <div class="alert alert-{{standardMessage.display}} card">
            <button type="button" class="close" ng-click="hideStandardMessage()">&times;</button>
            <span external-content="standardMessage.content"></span>
          </div>
        </div>

        <div class="dashboard">
          <div class="card row" ui-sref="app.recipes">
            <div class="col col-25 media"><i class="icon ion-lightbulb"></i></div>
            <div class="col content">La sélection Cookers</div>
          </div>
          <div class="card row" ui-sref="app.cart.ingredients">
            <div class="col col-25 media"><i class="icon ion-clipboard"></i></div>
            <div class="col content">Ma liste de courses</div>
          </div>
          <div class="card row" ui-sref="app.tocook">
            <div class="col col-25 media"><i class="icon ion-clock"></i></div>
            <div class="col content">Mes recettes à cuisiner</div>
          </div>
          <div class="card row" ui-sref="app.cooked">
            <div class="col col-25 media"><i class="icon ion-checkmark"></i></div>
            <div class="col content">Mes recettes cuisinées</div>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </script>
</html>
