@import "_colors";

.cart-screen {
  .cart-chooser {
    padding-bottom: 0px;
  }

  .no-items-to-buy {
    min-height: 200px;
    text-align: center;

    margin: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #aaa;
  }

  .cart-price {
    margin: 20px;
    margin-bottom: -10px;
    text-align: right;
    color: #bbb;
    font-size: 16px;
  }

  .item-cart-recipe {
    .item {
      border: none;
      .item-content {
        padding: 0px;
        .thumbnail {
          max-width: 100px;
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
        .content {
          margin-left: 100px;
          padding: 10px;
          .progress {
            margin-top: 10px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .addon {
      background: #fff;
      padding: 0px 20px 8px;
    }
  }

  .add-product {
    margin-bottom: 0px;
    .item {
      &.item-input {
        padding: 0px;
        textarea {
          padding: 10px;
          background: #eee;
        }
      }
    }
  }

  .list.to-buy {
    padding: 5px 0px;
  }

  .item-cart-ingredient {
    padding: 5px 10px;
    border: none;
    &.fruits-and-legumes .text {border-color: $material-green;}
    &.viandes-and-poissons .text {border-color: $material-red;}
    &.frais .text {border-color: $material-blue;}
    &.pains-and-patisseries .text {border-color: $material-brown;}
    &.epicerie-salee .text {border-color: $material-blue-grey;}
    &.epicerie-sucree .text {border-color: $material-orange;}
    .text {
      border-left: 4px solid white;
      padding: 3px 5px;
      margin-right: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .quantity {
      padding: 3px 5px;
    }
    .check {
      border-left: 1px solid #ccc;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 10px;
      .box {
        width: 26px;
        height: 26px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }
    .details {
      font-size: .8em;
      .source, .product {
        &.source-bought {
          text-decoration: line-through;
        }
        .text {
          border-left: 1px dashed #666;
          margin-left: 10px;
          padding: 1px 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:first-letter {
            text-transform: uppercase;
          }
        }
        .quantity {
          padding: 1px 5px;
          margin-right: 48px;
        }
      }
    }
  }

  .bought {
    margin: 10px;
    margin-bottom: 20px;
    .item-cart-ingredient {
      text-decoration: line-through;
      background: transparent;
      color: #bbb;
      .text {
        border-color: transparent;
      }
    }
  }
}
