@import "_colors";

.cart-price {
  margin: 20px;
  margin-bottom: -10px;
  text-align: right;
  color: #bbb;
  font-size: 16px;
}

.recommanded-items {
  padding: 10px;
  background: #FFE0D3;
}

.cart-items {
  padding: 0px;
  .progress {
    height: 3px;
    margin: 0;
    overflow: hidden;
    background: transparent;
    border-radius: initial;
    box-shadow: initial;
    .bar {
      position: initial;
      display: block;
      height: 100%;
      background: #f83d3a;
      transition: width .6s ease;
    }
  }
  .item {
    padding: 5px 10px;
    border: none;
    &.item-textarea {
      padding: 0px;
      textarea {
        padding: 10px;
        background: #eee;
      }
    }
    &.fruits-and-legumes .text, &.fruits-legumes .text {border-color: $material-green;}
    &.viandes-and-poissons .text, &.viandes-poissons .text {border-color: $material-red;}
    &.frais .text {border-color: $material-indigo;}
    &.pains-and-patisseries .text, &.pains-patisseries .text {border-color: $material-brown;}
    &.epicerie-salee .text {border-color: $material-blue-grey;}
    &.epicerie-sucree .text {border-color: $material-orange;}
    &.boissons .text {border-color: $material-purple;}
    .text {
      border-left: 4px solid white;
      padding: 3px 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    .scan {
      color: #bbb;
      font-size: 18px;
      padding-top: 4px;
      width: 30px;
      text-align: right;
    }
    .buy {
      border-left: 1px solid #ccc;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 10px;
      color: #bbb;
      .checkbox {
        display: block;
        padding: 0px;
        width: 26px;
        height: 26px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 3px;
        .checked {
          display: none;
        }
      }
    }
    .details {
      font-size: .8em;
      .source {
        padding: 1px 0px;
        .text {
          border-left: 1px dashed #666;
          margin-left: 10px;
          padding: 3px 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-letter {
            text-transform: uppercase;
          }
        }
        .addon {
          padding: 3px 5px;
        }
      }
    }
  }
  &.bought .item, .item.bought {
    background: transparent;
    & > .text {
      text-decoration: line-through;
      color: #bbb;
      border-color: transparent;
    }
    .buy .checkbox .checked {
      display: inline;
    }
  }
  .item-bought {
    & > .text {
      text-decoration: line-through;
      color: #bbb;
    }
    .buy .checkbox .checked {
      display: inline;
    }
  }
}

.cart-recipes {
  .item {
    border: none;
    .item-content {
      padding: 0px;
      .thumbnail {
        max-width: 100px;
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
      .content {
        margin-left: 100px;
        padding: 10px;
        .progress {
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }
  .addon {
    background: #fff;
    padding: 0px 20px 8px;
  }
}

.checkout {
  text-align: center;
}

.product-card {
  .product-image, .promo {
    position: relative;
    display: flex;
    padding: 0px;
    overflow: initial;
    .badge {
      position: absolute;
      top: 0px;
      right: 0px;
      i {
        color: red;
        font-size: 55px;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -10px;
        color: white;
        width: 40px;
        height: 20px;
        line-height: 20px;
      }
    }
  }
  .product-image {
    img {
      margin: auto;
      max-height: 100px;
    }
  }
  .promo {
    .badge {
      top: -20px;
      right: -20px;
    }
    img {
      width: 100%;
      margin: 0px;
      border: 3px dashed #B72726;
    }
  }
  .recommandation {
    padding: 0px;
    img {
      width: 100%;
    }
    p {
      margin: 0px;
      padding: 15px 10px;
      font-size: 18px;
      line-height: 18px;
      color: #444;
    }
  }
}

.nutrition {
  color: #b0b0b0;
  &.danger1 { color: #427d06; }
  &.danger2 { color: #cc9800; }
  &.danger3 { color: #cc0000; }
}

.additive {
  &.danger0 { color: #b0b0b0; }
  &.danger1 { color: #427d06; }
  &.danger2 { color: #67b800; }
  &.danger3 { color: #b0cc00; }
  &.danger4 { color: #cc9800; }
  &.danger5 { color: #cc5800; }
  &.danger6 { color: #cc0000; }
}
