.start-selfscan {
  text-align: center;
  h3 {
    margin-top: 20px;
  }
  .section {
    margin-top: 20px;
    &.big {
      margin-top: 60px;
    }
  }
}

.nutrition {
  color: #b0b0b0;
  &.danger1 { color: #427d06; }
  &.danger2 { color: #cc9800; }
  &.danger3 { color: #cc0000; }
}

.additive {
  &.danger0 { color: #b0b0b0; }
  &.danger1 { color: #427d06; }
  &.danger2 { color: #67b800; }
  &.danger3 { color: #b0cc00; }
  &.danger4 { color: #cc9800; }
  &.danger5 { color: #cc5800; }
  &.danger6 { color: #cc0000; }
}
