<div class="screen">
  <div class="cart-price">Total : {{data.shopPrice | price}}</div>

  <div class="list card add-product">
    <div class="item item-input">
      <textarea msd-elastic blur-on-keyboard-out="customItems.fn.save()" ng-model="customItems.data.text" ng-click="customItems.fn.edit()"
                rows="1" placeholder="Penser à acheter ..." ng-disabled="data.cart.archived"></textarea>
    </div>
    <div class="item" ng-show="customItems.data.editing">
      <button class="button button-small pull-right button-positive" ng-click="customItems.fn.save()">Enregistrer</button>
      <button class="button button-small" ng-click="customItems.fn.cancel()">Annuler</button>
    </div>
    <div class="list to-buy" ng-show="!customItems.data.editing && data.cart.customItems && data.cart.customItems.length > 0">
      <div class="item item-cart-ingredient" ng-class="{'item-bought': item.bought}" bindonce ng-repeat="item in data.cart.customItems">
        <div class="check pull-right">
          <div class="box" ng-click="customItems.fn.toggle(item)"><span class="checked">✔</span></div>
        </div>
        <div class="text" bo-bind="item.name"></div>
      </div>
    </div>
  </div>

  <div class="list card to-buy">
    <div class="item item-cart-ingredient" ng-class="{'item-bought': fn.isBought(item)}" bindonce bo-class="item.food.category.slug" ng-repeat="item in data.items">
      <div class="check pull-right">
        <div class="box" ng-click="fn.toggleItem(item)"><span class="checked">✔</span></div>
      </div>
      <div class="text" bo-bind="item | ingredient"></div>
      <div class="details">
        <div class="product" ng-repeat="product in item.products">
          <div class="actions pull-right"><button class="button button-clear button-xs button-assertive" ng-click="fn.removeFromCart(product)">&times;</button></div>
          <div class="quantity pull-right">{{product.cartData.price | price:product.cartData.quantity}}</div>
          <div class="details-text" ng-click="fn.productDetails(product)"><b>{{product.cartData.quantity}} x</b> {{product.name}} ({{product.quantity | quantity}})</div>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout" ng-show="data.cart.products && data.cart.products.length > 0">
    <button class="button button-custom" ng-click="fn.checkout()">Terminer et Payer</button>
  </div>
</div>
