<div>
  <div class="list card add-product">
    <div class="item item-input">
      <textarea msd-elastic blur-on-keyboard-out="customItems.fn.save()" ng-model="customItems.data.text" ng-click="customItems.fn.edit()"
                rows="1" placeholder="Penser à acheter ..." ng-disabled="data.cart.archived"></textarea>
    </div>
    <div class="item" ng-show="customItems.data.editing">
      <button class="button button-small pull-right button-positive" ng-click="customItems.fn.save()">Enregistrer</button>
      <button class="button button-small" ng-click="customItems.fn.cancel()">Annuler</button>
    </div>
    <div class="list to-buy" ng-show="!customItems.data.editing && data.cart.customItems && data.cart.customItems.length > 0 && fn.cartHasCustomItemsToBuy()">
      <div class="item item-cart-ingredient" bindonce ng-repeat="item in data.cart.customItems" ng-show="!item.bought">
        <div class="check pull-right">
          <div class="box" ng-click="fn.customItem.buy(item)"></div>
        </div>
        <div class="text" bo-bind="item.name"></div>
      </div>
    </div>
  </div>
  <div class="screen-empty">
    La liste de courses est vide :(
    <a class="button button-block button-balanced" href="#/app/recipes">Ajoute une recette !</a>
  </div>

  <div class="screen">
    <div class="no-items-to-buy" bo-if="!(data.cart && data.cart.recipes && data.cart.recipes.length > 0)">
      Aucune recette ajoutée à la liste de course.
      <a class="button button-block button-balanced" href="#/app/recipes">Ajoute la première recette !</a>
    </div>
    <div class="no-items-to-buy" ng-show="fn.cartHasItems() && !fn.cartHasItemsToBuy() && !fn.cartHasCustomItemsToBuy() && data.cart.recipes && data.cart.recipes.length > 0 && !data.cart.archived">
      Bravo ! Tu as tout acheté !!!<br>
      <br>
      <button class="button button-stable" ng-click="fn.archiveCart()">Archiver cette liste de courses</button>
    </div>
    <div class="no-items-to-buy" ng-show="data.cart.archived">
      Liste archivée !
    </div>

    <div class="cart-price" ng-if="ctx.settings.showPrices">Prix total estimé : {{data.estimatedPrice | price}}</div>
    <div ng-show="!data.cart.archived">
      <div class="list card to-buy" ng-show="fn.cartHasItemsToBuy()">
        <div class="item item-cart-ingredient" bo-class="item.food.category.slug" bindonce ng-repeat="item in data.items" ng-show="!fn.isBought(item)">
          <div class="scan pull-right" ng-click="fn.productDetails(item)"><i class="ion-icon ion-android-mixer"></i></div>
          <div class="check pull-right">
            <div class="box" ng-click="fn.buyItem(item)"></div>
          </div>
          <div class="text" ng-click="openedItems.fn.toggleItem(item)" bo-bind="item | ingredient"></div>

          <div class="details" ng-show="openedItems.fn.isOpened(item)">
            <div class="source" ng-class="{'source-bought': source.ingredient.bought}" bindonce ng-repeat="source in item.sources">
              <div class="quantity pull-right" bo-bind="source.quantity | quantity"></div>
              <div class="text" bo-bind="source.recipe.name+' ('+(source.recipe.cartData.servings | servings)+')'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="list bought">
        <div class="item item-cart-ingredient" bindonce ng-repeat="item in data.cart.customItems" ng-show="item.bought">
          <div class="check pull-right">
            <div class="box" ng-click="fn.customItem.unbuy(item)">✔</div>
          </div>
          <div class="text" bo-bind="item.name"></div>
        </div>
      </div>
      <div class="list bought">
        <div class="item item-cart-ingredient" bindonce ng-repeat="item in data.items" ng-show="fn.isBought(item)">
          <div class="check pull-right">
            <div class="box" ng-click="fn.unbuyItem(item)">✔</div>
          </div>
          <div class="text" bo-bind="item | ingredient"></div>
        </div>
      </div>
    </div>
  </div>
</div>