<ion-view>
  <ion-header-bar align-title="center" ng-class="fn.colorClass('bar-', data.cart)">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title" ng-show="!data.cart.selfscan.started">{{data.cart.name}}</h1>
    <h1 class="title" ng-show="data.cart.selfscan.started"><img ng-src="{{data.cart.selfscan.store.logo}}" style="height: 23px; margin: 10px;"></h1>
    <div class="buttons">
      <button class="button button-icon" ng-class="{'ion-close-circled': data.cart.selfscan.started, 'ion-ios7-barcode-outline': !data.cart.selfscan.started}" ng-click="fn.toggleSelfScan()"></button>
      <button class="button button-icon ion-more" ng-click="fn.showOptions($event)"></button>
    </div>
  </ion-header-bar>

  <ion-tabs class="tabs-striped tabs-top tabs-custom"><!-- tabs-background-custom tabs-light -->
    <ion-tab title="Ingrédients" hidden="{{!!data.cart.selfscan.started}}">
      <ion-content>
        <loading ng-show="!data.cart" top="100px"></loading>
        <div ng-show="data.cart">
          <div class="list card cart-items">
            <div class="item item-textarea">
              <textarea msd-elastic blur-on-keyboard-out="fn.customItems.save()" ng-model="data.customItemsText" ng-click="fn.customItems.edit()"
                        rows="1" placeholder="Penser à acheter ..."></textarea>
            </div>
            <div class="item" ng-show="data.customItemsText !== null">
              <button class="button button-small pull-right button-positive" ng-click="fn.customItems.save()">Enregistrer</button>
              <button class="button button-small" ng-click="fn.customItems.cancel()">Annuler</button>
            </div>
            <div ng-show="data.customItemsText === null && data.cart.customItems && data.cart.customItems.length > 0">
              <div class="item" ng-repeat="item in customItemsToBuy = (data.cart.customItems | filter:fn.isBought(false))">
                <div class="pull-right scan" ng-click="fn.scan(item)"><i class="ion-icon ion-android-mixer"></i></div>
                <div class="pull-right buy" ng-click="fn.buyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
                <div class="text">{{item.name}}</div>
              </div>
            </div>
          </div>
          <div class="cart-price" ng-show="ctx.settings.showPrices && data.cart.estimatedPrice">Prix estimé : {{data.cart.estimatedPrice | price}}</div>
          <div class="no-items-to-buy" ng-if="!(data.cart && data.cart.items && data.cart.items.length > 0)">
            Aucune recette ajoutée à la liste de course.
            <a class="button button-block button-balanced" ui-sref="app.recipes">Ajoute ta première recette !</a>
          </div>
          <div class="no-items-to-buy" ng-show="customItemsToBuy.length === 0 && itemsToBuy.length === 0 && (data.cart.customItems.length > 0 || data.cart.items.length > 0) && !data.cart.archived">
            Bravo ! Tu as tout acheté !!!<br>
            <br>
            <button class="button button-stable" ng-click="fn.archiveCart()">Archiver cette liste de courses</button>
          </div>
          <div class="list card cart-items">
            <div class="progress"><div class="bar" style="width: {{data.cart.boughtPc}}%;"></div></div>
            <div class="item {{item.category.slug}}" ng-repeat="item in itemsToBuy = (data.cart.items | filter:fn.isBought(false))">
              <div class="pull-right scan" ng-click="fn.scan(item)"><i class="ion-icon ion-android-mixer"></i></div>
              <div class="pull-right buy" ng-click="fn.buyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text" ng-click="fn.toggleItem(item)">{{item | item}}</div>
              <div class="details" ng-show="data.selectedItem === item">
                <div class="source" ng-repeat="source in item.sources">
                  <div class="addon pull-right">{{source.quantity | quantity}}</div>
                  <div class="text">{{source.name+' ('+(source.servings | servings)+')'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="list cart-items bought">
            <div class="item" ng-repeat="item in data.cart.customItems | filter:fn.isBought(true)">
              <div class="pull-right buy" ng-click="fn.unbuyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text">{{item.name}}</div>
            </div>
          </div>
          <div class="list cart-items bought">
            <div class="item" ng-repeat="item in data.cart.items | filter:fn.isBought(true)">
              <div class="pull-right buy" ng-click="fn.unbuyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text">{{item | item}}</div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="Panier" hidden="{{!data.cart.selfscan.started}}">
      <ion-content>
        <loading ng-show="!data.cart" top="100px"></loading>
        <div ng-show="data.cart">
          <div class="cart-price" ng-show="data.cart.selfscan.promoBenefit.value > 0">
            <span class="text-danger">Gain : {{data.cart.selfscan.promoBenefit | price}}</span>
          </div>
          <div class="cart-price" ng-show="data.cart.selfscan.price">Total : {{data.cart.selfscan.price | price}}</div>
          <div class="list card cart-items">
            <div class="item item-textarea">
              <textarea msd-elastic blur-on-keyboard-out="fn.customItems.save()" ng-model="data.customItemsText" ng-click="fn.customItems.edit()"
                        rows="1" placeholder="Penser à acheter ..."></textarea>
            </div>
            <div class="item" ng-show="data.customItemsText !== null">
              <button class="button button-small pull-right button-positive" ng-click="fn.customItems.save()">Enregistrer</button>
              <button class="button button-small" ng-click="fn.customItems.cancel()">Annuler</button>
            </div>
            <div ng-show="data.customItemsText === null && data.cart.customItems && data.cart.customItems.length > 0">
              <div class="item" ng-repeat="item in customItemsToBuy = (data.cart.customItems | filter:fn.isBought(false))">
                <div class="pull-right buy" ng-click="fn.buyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
                <div class="text">{{item.name}}</div>
              </div>
            </div>
          </div>
          <div class="list card cart-items" ng-show="data.cart.items.length > 0">
            <div class="progress"><div class="bar" style="width: {{data.cart.boughtPc}}%;"></div></div>
            <div class="item {{item.category.slug}}" ng-class="{'item-bought': item.bought}" ng-repeat="item in itemsToBuy = (data.cart.items | filter:fn.isBought(false))">
              <div class="pull-right buy" ng-click="fn.toggleItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text">{{item | item}}</div>
              <div class="details">
                <div class="source promo" ng-repeat="promo in item.promos">
                  <div class="addon pull-right">
                    <span class="label label-danger">{{promo.badge}}</span>
                    <button class="button button-clear button-xs button-assertive" ng-click="fn.removePromo(promo)">&times;</button>
                  </div>
                  <div class="text text-danger"><span class="label label-danger">PROMO</span> {{promo.name}}</div>
                </div>
                <div class="source" ng-repeat="product in item.products">
                  <div class="addon pull-right">
                    {{product.price | price:product.number}}
                    <button class="button button-clear button-xs button-assertive" ng-click="fn.unbuyProduct(product)">&times;</button>
                  </div>
                  <div class="text" ng-click="fn.productDetails(product)">
                    <b>{{product.number}} x</b>
                    <span class="label label-danger" ng-show="product.promos.length > 0">PROMO</span>
                    {{product.name}} ({{product.quantity | quantity}})
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkout" ng-show="data.cart.selfscan.price.value > 0">
            <button class="button button-custom" ng-click="fn.checkout()">Terminer et Payer</button>
          </div>
          <div class="list cart-items bought">
            <div class="item" ng-repeat="item in data.cart.customItems | filter:fn.isBought(true)">
              <div class="pull-right buy" ng-click="fn.unbuyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text">{{item.name}}</div>
            </div>
          </div>
          <div class="list cart-items bought">
            <div class="item" ng-repeat="item in data.cart.items | filter:fn.isBought(true)">
              <div class="pull-right buy" ng-click="fn.unbuyItem(item)"><div class="checkbox"><span class="checked">✔</span></div></div>
              <div class="text">{{item | item}}</div>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer-bar class="bar-dark" ng-show="data.cart.selfscan.started">
        <div class="button-bar spaced">
          <a class="button button-custom" ng-click="fn.scan()">Scanner un produit</a>
        </div>
      </ion-footer-bar>
    </ion-tab>

    <ion-tab title="Recettes">
      <ion-content>
        <loading ng-if="!data.recipes" top="100px"></loading>
        <div class="no-items-to-buy" ng-show="!(data.recipes && data.recipes.length > 0)">
          Aucune recette ajoutée à la liste de course.
          <a class="button button-block button-balanced" ui-sref="app.recipes">Ajoute ta première recette !</a>
        </div>
        <div ng-show="data.recipes">
          <ion-list class="cart-recipes">
            <div class="cart-price" ng-show="ctx.settings.showPrices && data.cart.estimatedPrice">Prix estimé : {{data.cart.estimatedPrice | price}}</div>
            <div class="card" ng-repeat="recipe in data.recipes">
              <ion-item ng-click="fn.toggleRecipe(recipe)">
                <div>
                  <div class="thumbnail pull-left"><img-recipe images="recipe.images" type="'thumbnail'"></img-recipe></div>
                  <div class="content">
                    <h2 class="pull-right" ng-if="ctx.settings.showPrices" ng-bind="recipe.price | price:recipe.cartData.servings.value:false"></h2>
                    <h2 class="title" ng-bind="recipe.name"></h2>
                    <div ng-bind="(recipe.cartData.servings | servings)+', '+(recipe.time | cookTime)"></div>
                    <div>
                      <div class="progress">
                        <div class="progress-bar"
                             ng-class="{empty: recipe.cartData.boughtPc === 0, 'progress-bar-success': recipe.cartData.boughtPc === 100}"
                             ng-style="{width: recipe.cartData.boughtPc+'%'}"
                             ng-bind="(recipe.cartData.boughtPc | mynumber:0)+'% acheté'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="fn.removeRecipeFromCart(recipe)">Supprimer</ion-option-button>
              </ion-item>
              <div class="addon" ng-show="data.selectedRecipe === recipe">
                <div class="range range-positive range-thin">
                  <i class="fa fa-user"></i>
                  <input type="range" name="servings" min="1" max="10" ng-model="recipe.cartData.servings.value" ng-change="fn.updateServings(recipe, recipe.cartData.servings.value)">
                  <i class="fa fa-users"></i>
                </div>
                <div class="pull-right">
                  <button class="button button-xs button-assertive" ng-click="fn.removeRecipeFromCart(recipe)">Supprimer</button>
                </div>
                <a class="button button-xs button-stable" ui-sref="app.recipe({recipeId: recipe.id})">Voir</a>
                <a class="button button-xs button-positive" ui-sref="app.cook({cartId: data.cart.id, recipeId: recipe.id})" ng-attr-disabled="recipe.cartData.cooked">Cuisiner</a>
              </div>
            </div>
          </ion-list>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>