<div>
  <div class="screen">
    <div class="cart-price" ng-if="ctx.settings.showPrices">Prix total estimé : {{totalPrice | price}}</div>
    <div>
      <div class="list card to-buy">
        <div class="item item-cart-ingredient" bo-class="item.food.category.slug" bindonce ng-repeat="item in items">
          <div class="text" bo-bind="item | ingredient"></div>

          <div class="details">
            <div class="source" bindonce ng-repeat="product in item.products">
              <div class="quantity pull-right" bo-bind="product.store.price | price:product.cartData.quantity"></div>
              <div class="text"><b>{{product.cartData.quantity}} x</b> {{product.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
