<ion-view title="User logs">
    <ion-nav-bar>
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="item item-toggle">
            Mise en forme :
            <label class="toggle">
                <input type="checkbox" ng-model="formated">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div ng-if="formated">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="search" placeholder="Search">
                </label>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Action</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in logs | orderBy:'-time' | filter:search">
                        <td>
                            <span class="nowrap">{{log.time | date}}</span>
                            <span class="nowrap">{{log.time | time}}</span>
                        </td>
                        <td>
                            {{log.action}} {{log.elt}}<br/>
                            {{log.id}}
                        </td>
                        <td>
                            <div ng-if="log.data.duration">duration : {{log.data.duration | seconds}} secondes</div>
                            <div ng-if="log.data.from">From : {{log.data.from}}</div>
                            <div ng-if="log.data.position">
                                Position:<br/>
                                Lat:{{log.data.position.latitude}}<br/>
                                Lon:{{log.data.position.longitude}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pre ng-if="!formated">{{logs | json}}</pre>
    </ion-content>
</ion-view>