.intro {
  background: #6f5499;
  .bar-header {
    background: transparent;
    border: none;
    .start-app {
      img {
        height: 26px;
      }
      i {
        color: #ccc;
      }
    }
  }
  .slider {
    height: 100%;
  }
  .slider-slide {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.9);
    background: url(../images/profile_bg.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */

    h1, h3 {
      margin-top: 70px;
      color: #fff;
    }
    h1 {
      font-size: 70px;
      line-height: 70px;
    }
    h3 {
      font-size: 40px;
      line-height: 40px;
    }
    p {
      margin-top: 30px;
    }
  }

  .slide-cookers { background-image: url(../images/intro/raspberries.jpg); }
  .slide-recipes { background-image: url(../images/intro/tarte-aux-tomates-multicolores.jpg); background-position: 20%; }
  .slide-shopping { background-image: url(../images/intro/oignon.jpg); }
  .slide-cooking { background-image: url(../images/intro/epices.jpg); }
  .slide-start { background-image: url(../images/intro/start.jpg); background-position: 42%; }
  
  .slide-start {
    .button-start {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      background-color: #6f5499;
      border-color: #563d7c;
      border-radius: 30px;
      padding: 10px 50px;
    }
  }
}
