<ion-view class="intro">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear start-app" ng-click="startApp()"> <i class="fa fa-chevron-left"></i> <img src="images/logo_36.png"></button>
    </div>
  </ion-header-bar>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide class="slide-cookers">
      <h1><img src="images/cookers-white.png"></h1>
      <p style="margin-top: 8%;">
        Spécialement pour toi,<br>
        les recettes de tous les jours<br>
        pensées, cuisinées et goûtées<br>
        par notre fine équipe !
      </p>
    </ion-slide>

    <ion-slide class="slide-recipes">
      <h3>Choisis tes recettes</h3>
      <p style="margin-top: 23%;">
        Chaque semaine découvre dix recettes à cuisiner rapidement,<br>
        sans prise de tête !
      </p>
      <p style="margin-top: 9%;">
        Choisis celles qui te plaisent et ajoute-les à ta liste de courses.
      </p>
    </ion-slide>

    <ion-slide class="slide-shopping">
      <h3>Fais tes courses</h3>
      <p style="margin-top: 9%;">
        Avec dans ta poche, la liste de tes ingrédients, déjà organisée.
      </p>
      <p style="margin-top: 60%;">
        Coche-les au fur et à mesure comme pour une liste papier.
      </p>
    </ion-slide>

    <ion-slide class="slide-cooking">
      <h3>Cuisine tes recettes</h3>
      <p style="margin-top: 28%;">
        Profite d'un écran<br>
        qui ne se met jamais en veille<br>
        pour suivre nos indications<br>
        pas à pas !
      </p>
    </ion-slide>

    <ion-slide class="slide-start">
      <button class="button button-start" ng-click="startApp()">On embarque ?</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>