.shoppinglist .product-square {
    background: #ccc;
    padding: 2px;
}
.shoppinglist .product-square.category {
    background: #999;
}
.shoppinglist .product-square.active {
    background: green;
}
.shoppinglist .product-square .pic img {
    width: 100%;
}
.shoppinglist .product-square .text {
    margin-top: -25px;
    text-align: center;
    font-size: .9em;
    background: red;
}