<ion-content has-header="true" has-footer="true" padding="true">
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
    </div>
    <div class="list">
        <div ng-repeat="category in current.cart.categories">
            <div class="item item-divider">
                {{category.name}}
            </div>
            <div ng-repeat="item in category.items">
                <div class="item item-avatar" ng-click="cartItemClick(item)">
                    <img ng-src="img/ingredients/100x100/{{item.ingredient.image}}" />
                    <h2>{{item.ingredient.name}}</h2>
                    <p>{{item.notes}}</p>
                    <span class="item-note">
                        {{item.quantity}} {{item.quantityUnit}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ion-content>