<ion-modal-view>
  <ion-header-bar class="bar-custom">
    <h1 class="title">{{data.title}}</h1>
    <button class="button button-clear" ng-click="fn.close('cancel')">Annuler</button>
  </ion-header-bar>

  <ion-content>
    <loading ng-show="!data.product" top="100px"></loading>
    <div class="screen-placeholder" ng-show="!data.product && data.ctx.firstTime">
      Vous êtes le premier à scanner ce produit,<br>
      nous recherchons les informations dessus !
    </div>
    <div class="product-card" ng-show="data.product">
      <div class="card product">
        <div class="product-image">
            <div class="badge" ng-show="data.ctx.productPromo">
              <i class="fa fa-certificate"></i>
              <span class="text">{{data.ctx.productPromo.badge}}</span>
            </div>
            <img ng-src="{{data.product.image}}">
        </div>
        <div class="padding pull-right" ng-show="data.store">
          <h4 style="white-space: nowrap;">
            {{data.store.price | price}}
          </h4>
          <h5 style="white-space: nowrap;">{{data.store.genericPrice | price}}</h5>
        </div>
        <div class="padding">
          <h4>{{data.product.name}}</h4>
          <h5>{{data.product.brand}}</h5>
        </div>
      </div>
      <div class="card promo" ng-if="data.ctx.showPromo" ng-click="fn.addPromoToCart(data.ctx.promoToShow)">
        <div class="badge">
          <i class="fa fa-certificate"></i>
          <span class="text">{{data.ctx.promoToShow.badge}}</span>
        </div>
        <img ng-src="{{data.ctx.promoToShow.image}}">
      </div>
      <div class="card recommandation" ng-if="!data.ctx.showPromo && data.ctx.showRecommandation" ng-click="fn.addRecommandationToCart(data.ctx.recommandationToShow)">
        <img ng-src="{{data.ctx.recommandationToShow.image}}">
        <p>Un peu de cuisine : {{data.ctx.recommandationToShow.name}}</p>
      </div>
      <div class="card padding" ng-show="data.product.labels">
        Labels :
        <span ng-repeat="label in data.product.labels">
          <span class="label label-success">{{label}}</span>
        </span>
      </div>
      <div class="card padding" ng-if="data.product.nutrition">
        <nutrition-grade grade="data.product.nutrition.grade"></nutrition-grade>
        <div ng-show="data.product.nutrition.energy_100g">Calories: {{data.product.nutrition.energy_100g | quantity}}</div>
        <div ng-if="data.product.nutrition.nutriments">
          <div ng-repeat="nutriment in data.product.nutrition.nutriments | orderBy:'-level'">
            <nutriment data="nutriment"></nutriment>
          </div>
        </div>
      </div>
      <div class="card padding" ng-if="!data.product.nutrition">
        Valeures nutritionelles non renseignées :(
      </div>
      <div class="card padding">
        Additifs :
        <div ng-show="data.product.additives && data.product.additives.length > 0">
          <div ng-repeat="additive in data.product.additives | orderBy:'-danger.level'">
            <additive data="additive"></additive>
          </div>
        </div>
        <div ng-show="!data.product.additives || data.product.additives.length === 0">
          <span class="additive danger1">Aucun additif recensé :)</span>
        </div>
      </div>
      <div class="card padding" ng-show="data.product.traces">
        Traces : <span ng-repeat="trace in data.product.traces">{{trace}}<span ng-show="!$last">, </span></span>
      </div>
      <!--<div class="card list" ng-show="modal.data.foods">
<label class="item item-input item-select">
<div class="input-label">Ingrédient</div>
<select name="food" ng-model="data.updateProductFood" ng-options="food as food.name for food in modal.data.foods track by food.id"></select>
</label>
</div>-->
      <div class="card padding" ng-show="data.product.infos">
        <div ng-show="data.product.infos.description">Informations :<br>{{data.product.infos.description}}</div>
        <div ng-show="data.product.infos.tips">Astuces :<br>{{data.product.infos.tips}}</div>
      </div>
      <!--<div class="card list">
<div class="item" style="white-space: normal;">Rating: {{data.product.rating.value | rating:data.product.rating.max:true}}</div>
<div class="item" style="white-space: normal;">Catégorie: {{data.product.category}}</div>
<div class="item" style="white-space: normal;">Quantité: {{data.product.quantity | quantity}}</div>
<div class="item" style="white-space: normal;">Labels: <span ng-repeat="label in data.product.labels"><br>{{label}}</span></div>
<div class="item" style="white-space: normal;">Ingrédients: <ul><li ng-repeat="ingredient in data.product.ingredients">{{ingredient}}</li></ul></div>
<div class="item" style="white-space: normal;">Additifs: <span ng-repeat="additive in data.product.additives"><br>{{additive.name}}</span></div>
<div class="item" style="white-space: normal;">Description: {{data.product.infos.description}}</div>
<div class="item" style="white-space: normal;">Astuce: {{data.product.infos.tips}}</div>
<div class="item" style="white-space: normal;">Mots clé: <span ng-repeat="keyword in data.product.keywords"><br>{{keyword}}</span></div>
</div>-->
    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark" ng-show="data.product && data.buyBar !== false">
    <div class="button-bar spaced">
      <a class="button button-assertive" ng-click="fn.close('notBought')">Reposer le produit</a>
      <a class="button button-balanced" ng-click="fn.close('bought')">Ajouter au panier</a>
    </div>
  </ion-footer-bar>
</ion-modal-view>