<ion-modal-view>
  <ion-header-bar class="bar-custom">
    <h1 class="title">Produit acheté</h1>
    <button class="button button-clear" ng-click="modal.fn.close()">Annuler</button>
  </ion-header-bar>

  <ion-content>
    <div class="card product">
      <div>
        <img ng-src="{{data.product.image}}" style="display: block; margin: auto; max-height: 200px;">
      </div>
      <div class="padding pull-right">
        <h4 style="white-space: nowrap;">{{data.product.store.price | price}}</h4>
        <h5 style="white-space: nowrap;">{{data.product.store.genericPrice | price}}</h5>
      </div>
      <div class="padding">
        <h4>{{data.product.name}}</h4>
        <h5>{{data.product.brand}}</h5>
      </div>
    </div>
    <div class="card list" ng-if="data.foods">
      <label class="item item-input item-select">
        <div class="input-label">Ingrédient</div>
        <select name="food" ng-model="data.updateProductFood" ng-options="food as food.name for food in data.foods track by food.id"></select>
      </label>
    </div>
    <div class="card list">
      <div class="item" style="white-space: normal;">Rating: {{data.product.rating.value | rating:data.product.rating.max:true}}</div>
      <div class="item" style="white-space: normal;">Catégorie: {{data.product.category}}</div>
      <div class="item" style="white-space: normal;">Quantité: {{data.product.quantity | quantity}}</div>
      <div class="item" style="white-space: normal;">Labels: <span ng-repeat="label in data.product.labels"><br>{{label}}</span></div>
      <div class="item" style="white-space: normal;">Ingrédients: <ul><li ng-repeat="ingredient in data.product.ingredients">{{ingredient}}</li></ul></div>
      <div class="item" style="white-space: normal;">Additifs: <span ng-repeat="additive in data.product.additives"><br>{{additive.name}}</span></div>
      <div class="item" style="white-space: normal;">Description: {{data.product.infos.description}}</div>
      <div class="item" style="white-space: normal;">Astuce: {{data.product.infos.tips}}</div>
      <div class="item" style="white-space: normal;">Mots clé: <span ng-repeat="keyword in data.product.keywords"><br>{{keyword}}</span></div>
    </div>
  </ion-content>
</ion-modal-view>