<ion-modal-view>
  <ion-header-bar class="bar-custom">
    <h1 class="title">Produit scanné</h1>
  </ion-header-bar>

  <ion-content>
    <div style="padding-top: 50%; margin-top: -20px;" ng-show="!data.product"><loading></loading></div>
    <div class="card product" ng-show="data.product">
      <div>
        <img ng-src="{{data.product.image}}" style="display: block; margin: auto; max-height: 200px;">
      </div>
      <div class="padding pull-right">
        <h4 style="white-space: nowrap;">{{data.product.store.price | price}}</h4>
        <h5 style="white-space: nowrap;">{{data.product.store.genericPrice | price}}</h5>
      </div>
      <div class="padding">
        <h4>{{data.product.name}}</h4>
        <h5>{{data.product.brand}}</h5>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-dark" ng-show="data.product">
    <div class="button-bar spaced">
      <a class="button button-assertive" ng-click="modal.fn.notAddToCart()">Reposer le produit</a>
      <a class="button button-balanced" ng-click="modal.fn.addToCart(data.product)">Ajouter au panier</a>
    </div>
  </ion-footer-bar>
</ion-modal-view>