<ion-view title="Produit">
    <ion-nav-bar class="product" ng-attr-align-title="{{header.align}}">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="!product">
            Produit introuvable ...
        </div>
        <div ng-if="product && !product.name">
            Recherche du produit {{product.barcode}} ...
        </div>
        <div class="list card" ng-if="product.name">
            <div class="item item-avatar">
                <img ng-src="images/products/160x160/{{product.img}}">
                <h2>{{product.name}}</h2>
                <p>Marque: {{product.brand}}</p>
            </div>
        </div>

        <div ng-if="!linkedRecipes">
            Pas de recettes associées...
        </div>
        <div class="list" ng-if="linkedRecipes">
            <div class="item item-divider">
                Cuisinez ce produit :
            </div>
            <a class="item item-thumbnail-left" ng-repeat="recipe in linkedRecipes" ui-sref="sidemenu.recipes.recipe({id: recipe.id})">
                <img ng-src="images/recipes/80x80/{{recipe.img}}">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.category}} - {{recipe.difficulty}} - {{recipe.budget}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>