<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
    </div>
    <h1 class="title">Accueil <span ng-if="debug">(debug mode)</span></h1>
  </ion-header-bar>

  <ion-content class="home">
    <!-- contextual message -->
    <div class="padding message" ng-repeat="msg in stickyMessages">
      <div class="alert alert-{{msg.display}} card">
        <span external-content="msg.content"></span>
      </div>
    </div>
    <div class="padding message" ng-if="standardMessage">
      <div class="alert alert-{{standardMessage.display}} card">
        <button type="button" class="close" ng-click="hideStandardMessage()">&times;</button>
        <span external-content="standardMessage.content"></span>
      </div>
    </div>

    <div class="dashboard">
      <div class="card row" ui-sref="app.recipes">
        <div class="col col-25 media"><i class="icon ion-lightbulb"></i></div>
        <div class="col content">La sélection Cookers</div>
      </div>
      <div class="card row" ui-sref="app.cart.ingredients">
        <div class="col col-25 media"><i class="icon ion-clipboard"></i></div>
        <div class="col content">Ma liste de courses</div>
      </div>
      <div class="card row" ui-sref="app.tocook">
        <div class="col col-25 media"><i class="icon ion-clock"></i></div>
        <div class="col content">Mes recettes à cuisiner</div>
      </div>
      <div class="card row" ui-sref="app.cooked">
        <div class="col col-25 media"><i class="icon ion-checkmark"></i></div>
        <div class="col content">Mes recettes cuisinées</div>
      </div>
    </div>


    <!--<div class="dashboard-card cart-infos">
<div class="heading" ui-sref="app.cart.ingredients">Liste de courses</div>
<div class="row" ng-if="recipesInCart.length > 0">
<div class="col" ui-sref="app.cart.recipes"><strong>{{recipesInCart.length}}</strong><span>recettes</span></div>
<div class="col" ui-sref="app.cart.ingredients"><strong>{{itemsInCart.length}}</strong><span>ingrédients</span></div>
</div>
<div class="row" ng-if="!(recipesInCart.length > 0)">
<div class="col">
<span>
Votre liste actuelle est vide.<br>
<button class="button button-block button-stable" ui-sref="app.recipes">Voir les recettes de la semaine</button>
</span>
</div>
</div>
</div>
<div class="dashboard-card recipes-infos">
<div class="heading" ui-sref="app.recipes">Recettes</div>
<div class="row">
<div class="col" ui-sref="app.recipes"><strong>{{recipesOfWeek.recipes.length}}</strong><span>cette semaine</span></div>
</div>
</div>-->
  </ion-content>
</ion-view>