<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Accueil <span ng-if="debug">(debug mode)</span></h1>
    </div>
  </ion-header-bar>

  <ion-content class="home">
    <!-- contextual message -->
    <div class="padding message" ng-repeat="msg in stickyMessages">
      <div class="alert alert-{{msg.type}}">
        <span external-content="msg.content"></span>
      </div>
    </div>
    <div class="padding message" ng-if="standardMessage">
      <div class="alert alert-{{standardMessage.type}}">
        <button type="button" class="close" ng-click="hideStandardMessage()">&times;</button>
        <span external-content="standardMessage.content"></span>
      </div>
    </div>

    <!-- cart dashboard -->
    <div class="cart-infos">
      <div class="heading">Liste de courses</div>
      <div class="row" ng-if="cart && !cart.archived && cart.recipes && cart.recipes.length > 0">
        <div class="col" ui-sref="app.cart.recipes"><strong>{{cart.recipes.length}}</strong><span>recettes</span></div>
        <div class="col" ui-sref="app.cart.ingredients"><strong>{{items.length}}</strong><span>ingrédients à acheter</span></div>
      </div>
      <div class="row" ng-if="!(cart && !cart.archived && cart.recipes && cart.recipes.length > 0)">
        <div class="col">
          <span>
            Votre liste actuelle est vide.<br>
            <button class="button button-block button-stable" ui-sref="app.recipes">Voir les recettes de la semaine</button>
          </span>
        </div>
      </div>
    </div>

    <!-- seen recipes history -->
    <div class="recipes" ng-if="recipesHistory && recipesHistory.length > 0">
      <div class="list">
        <div class="item item-divider">Historique des recettes</div>
        <div class="item item-recipe-img-full" ng-repeat="recipe in recipesHistory | limitTo:10" ui-sref="app.recipe({recipeId: recipe.id})">
          <img ng-src="{{recipe.images.landing}}">
          <div class="legend">
            <div class="title line">{{recipe.name}}</div>
            <div class="subtitle line">{{recipe.time.eat}} {{recipe.time.unit}}, {{recipe.ingredients.length}} ingrédients</div>
          </div>
        </div>
        <a class="button button-block button-balanced" ui-sref="app.recipes"><i class="fa fa-cutlery"></i> Voir les recettes de la semaine</a>
      </div>
    </div>
  </ion-content>
</ion-view>