<ion-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Planning 2</h1>
      <button class="button button-icon ion-shuffle" ui-sref="app.planning"></button>
    </div>
  </ion-header-bar>
  <ion-content class="planning">
    <div class="list">
      <div ng-repeat="day in planning.days">
        <div class="item item-divider">{{day.name}}</div>
        <div class="item item-menu item-menu2">
          <meal-slider meals="planning.meals"
                       meal="day.lunch"
                       slider-id="slider-{{day.name}}-lunch"
                       title="Midi">
          </meal-slider>
        </div>
        <div class="item item-menu item-menu2">
          <meal-slider meals="planning.meals"
                       meal="day.dinner"
                       slider-id="slider-{{day.name}}-dinner"
                       title="Soir">
          </meal-slider>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>