<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Mon profil</h1>
    </div>
  </ion-header-bar>

  <ion-content class="profile-screen">
    <div class="profile" ng-click="changeCover()"
         style="background-color: {{userProfile.background}};"
         ng-style="{'background-image': 'url('+userProfile.backgroundCover+')'}">
      <div>&nbsp;</div>
      <div class="avatar">
        <div class="hexagon" ng-style="{'background-image': 'url('+userProfile.avatar+'?s=100)'}">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </div>
      <div class="name">{{userProfile.name}}</div>
      <div class="level" ng-bind-html="userProfile.score.levelHtml"></div>
    </div>
    <div class="gravatar-helper">Modifiez votre profil sur <a href="http://gravatar.com">gravatar.com</a></div>

    <div class="settings">
      <div class="list card">
        <div class="item item-divider">Paramètres</div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="mail" blur-on-keyboard-out ng-blur="saveMail(mail)" placeholder="Email (permet de charger votre profil gravatar.com)">
        </label>
        <div class="item item-toggle">
          Afficher le prix des recettes
          <label class="toggle toggle-custom">
            <input type="checkbox" ng-model="settings.showPrices">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="item item-toggle">
          Grandes images de recette
          <label class="toggle toggle-custom">
            <input type="checkbox" ng-model="settings.bigImages">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <!--<div class="item item-toggle">
Ingrédients stricts
<label class="toggle toggle-custom">
<input type="checkbox" ng-model="settings.strictIngredients">
<div class="track">
<div class="handle"></div>
</div>
</label>
</div>-->
        <div class="item">Version de l'application <span class="badge badge-positive">{{appVersion}}</span></div>
        <div class="item item-icon-right" ng-click="about()">A propos <i class="icon ion-chevron-right icon-accessory"></i></div>
        <div class="item item-icon-right" ng-if="debug" ui-sref="app.debug">
          Debug mode
          <span class="badge badge-assertive">On</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div class="item item-icon-right" ng-click="clearCache()">Vider le cache <i class="icon ion-chevron-right icon-accessory"></i></div>
        <div class="item item-icon-right assertive" ng-click="resetApp()">
          Supprimer les données de l'application
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>