<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Recettes de la semaine</h1>
    </div>
  </ion-header-bar>

  <ion-content class="recipe-cards">
    <div ng-if="loading" class="recipes-empty">
      LOADING ...
    </div>
    <div ng-if="!loading && (!weekrecipes || weekrecipes.length === 0)" class="recipes-empty">
      Aucune recette planifiée cette semaine :(<br>
      Merci de le signaler à <a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a>.
    </div>
    <div ng-if="!loading" class="cards-container">
      <swipe-cards>
        <swipe-card on-swipe="cardSwiped()" id="start-card">Vous avez ajouté toutes les recettes à votre liste de courses.</swipe-card>
        <swipe-card on-swipe="cardSwiped(recipe)" ng-repeat="recipe in recipes">
          <div ng-controller="RecipeCardCtrl">
            <div class="title">{{recipe.name}}</div>
            <div class="subtitle">{{recipe.time.eat}} {{recipe.time.unit}}, {{recipe.ingredients.length}} ingrédients</div>
            <div class="image">
              <img ng-src="{{recipe.images.landing}}" ui-sref="app.recipe({recipeId: recipe.id})">
            </div>
            <div class="button-bar">
              <button class="button button-clear icon-left ion-close-round button-assertive" ng-click="goAway()">Ignorer</button>
              <button class="button button-clear icon-left ion-checkmark-round button-balanced" ng-click="addRecipeToCart(recipe)">Cuisiner</button>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
    </div>
  </ion-content>
</ion-view>