<ion-view>
  <ion-header-bar class="bar-custom">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon ion-navicon"></button>
      <h1 class="title">Recettes de la semaine</h1>
    </div>
  </ion-header-bar>

  <ion-content class="recipes">
    <div ng-if="loading" class="recipes-empty">
      CHARGEMENT ...
    </div>
    <div ng-if="!loading && (!recipesOfWeek || !recipesOfWeek.recipes || recipesOfWeek.recipes.length === 0)" class="recipes-empty">
      Aucune recette planifiée cette semaine :(<br>
      Merci de le signaler à <a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a>.
    </div>
    <div ng-if="!loading">
      <div class="list">
        <div class="item item-recipe-img-full" ng-class="{'show-ingredients': recipe.showIngredients, 'big-image': settings.bigImages}" ng-repeat="recipe in recipesOfWeek.recipes" ng-cloak>
          <img class="portrait" ng-src="{{recipe.images.portrait}}" ng-click="toggleIngredients(recipe)">
          <img class="landing" ng-src="{{recipe.images.landing}}" ng-click="toggleIngredients(recipe)">
          <div class="legend-top">
            <div class="favorite" ng-class="{added: isFavorited(recipe)}">
              <i class="fa fa-star-o add" ng-click="addToFavorite(recipe, $index)"></i>
              <i class="fa fa-star remove" ng-click="removeFromFavorite(recipe, $index)"></i>
            </div>
            <div class="price" ng-if="settings.showPrices">
              <div class="number">{{recipe.price.value | number:2}} {{recipe.price.currency}}</div>
              <div class="detail" ng-if="recipe.price.unit">/{{recipe.price.unit}}</div>
            </div>
          </div>
          <div class="ingredients-overlay" ng-click="toggleIngredients(recipe)">
            <div class="list">
              <div class="item item-divider">Ingrédients pour {{recipe.servings.value}} {{recipe.servings.unit}}</div>
              <div ng-repeat="ingredient in recipe.ingredients" class="item ingredient">
                {{ingredient.quantity | quantity}} {{ingredient.food.name}}
              </div>
              <a class="fa-stack fa-lg calm details" ui-sref="app.recipe({recipeId: recipe.id})">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x"></i>
              </a>
            </div>
          </div>
          <div class="legend">
            <div class="actions">
              <span ng-show="!cartHasRecipe(recipe)" class="fa-stack fa-lg balanced" ng-click="addRecipeToCart(recipe, $index)">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
              <span ng-show="cartHasRecipe(recipe)" class="fa-stack fa-lg assertive" ng-click="removeRecipeFromCart(recipe, $index)">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-minus fa-stack-1x"></i>
              </span>
            </div>
            <div class="content" ng-click="toggleIngredients(recipe)">
              <div class="title">{{recipe.name}}</div>
              <div class="subtitle">{{recipe.time.eat}} {{recipe.time.unit}}, {{recipe.ingredients.length}} ingrédients</div>
            </div>
          </div>
        </div>
      </div>

      <div class="list card" ui-sref="app.feedback" style="margin-bottom: 20px;">
        <div class="item item-text-wrap">
          C'est la fin des recettes de cette semaine !<br>
          Comment as-tu trouvé notre sélection ?
        </div>
        <a href="#" class="item item-icon-right">
          <i class="icon ion-arrow-right-c"></i>
          Fais-nous un retour sur tes attentes !
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>