<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="list">
        <div class="item item-divider">Application</div>
        <a class="item item-icon-left" menu-close ui-sref="app.home"><i class="icon ion-home"></i> Accueil</a>
        <a class="item item-icon-left" menu-close ui-sref="app.planning"><i class="icon fa fa-calendar"></i> Planning</a>
        <a class="item item-icon-left" menu-close ui-sref="app.shoppinglist"><i class="icon fa fa-th-list"></i> Liste de courses</a>
        <a class="item item-icon-left" menu-close ui-sref="app.settings"><i class="icon ion-gear-b"></i> Settings</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
