<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sidemenu">
      <div class="profile">
        <div class="cover" ng-style="{'background-image': 'url('+imageCover+')'}"></div>
      </div>
      <div class="list">
        <div class="item item-divider">Cookers</div>
        <a class="item item-icon-left" menu-close href="#/app/home"><i class="icon ion-home"></i> Accueil</a>
        <a class="item item-icon-left" menu-close href="#/app/recipes"><i class="icon ion-lightbulb"></i> La sélection Cookers</a>
        <a class="item item-icon-left" menu-close href="#/app/cart/ingredients"><i class="icon ion-clipboard"></i> Ma liste de courses</a>
        <a class="item item-icon-left" menu-close href="#/app/tocook"><i class="icon ion-clock"></i> Mes recettes à cuisiner</a>
      </div>
      <div class="list">
        <div class="item item-divider">Outils</div>
        <a class="item item-icon-left" menu-close href="#/app/feedback"><i class="icon ion-android-forums"></i> Donne ton avis</a>
        <a class="item item-icon-left" menu-close href="#/app/profile"><i class="icon ion-toggle"></i> Mes options</a>
        <a class="item item-icon-left" menu-close href="#/intro"><i class="icon ion-log-in"></i> Introduction</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
