<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="sidemenu">
      <div class="profile">
        <div class="cover" ng-style="{'background-image': 'url('+imageCover+')'}"></div>
        <div class="avatar" ng-style="{'background-image': 'url('+userProfile.avatar+')'}"></div>
        <div class="username">{{userProfile.name}}</div>
        <div class="role" ng-bind-html="role(recipesHistory)"></div>
        <div class="clearfix"></div>
      </div>
      <div class="stats">
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{recipesHistory.length}}" aria-valuemin="0" aria-valuemax="{{recipesHistoryGoal}}" style="width: {{100 * recipesHistory.length / recipesHistoryGoal}}%;">
          </div>
        </div>
        <span ng-if="recipesHistory.length === 0">Aucune recette vue</span>
        <span ng-if="recipesHistory.length === 1">1 recette vue</span>
        <span ng-if="recipesHistory.length > 1">{{recipesHistory.length}} recettes vues</span>
      </div>
      <div class="list">
        <div class="item item-divider">Cookers</div>
        <a class="item item-icon-left" menu-close ui-sref="app.home"><i class="icon ion-home"></i> Accueil</a>
        <a class="item item-icon-left" menu-close ui-sref="app.recipes"><i class="icon fa fa-cutlery"></i> Recettes</a>
        <a class="item item-icon-left" menu-close ui-sref="app.cart.recipes"><i class="icon fa fa-th-list"></i> Liste de courses</a>
      </div>
      <div class="list">
        <div class="item item-divider">Outils</div>
        <a class="item item-icon-left" menu-close ui-sref="app.feedback"><i class="icon ion-android-forums"></i> Remarques</a>
        <a class="item item-icon-left" menu-close ui-sref="intro"><i class="icon ion-log-in"></i> Introduction</a>
        <a class="item item-icon-left" menu-close ui-sref="app.settings"><i class="icon ion-gear-b"></i> Paramètres</a>
        <a class="item item-icon-left" menu-close ui-sref="app.debug"><i class="icon ion-code-working"></i> debug</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
