<ion-view title="Recipe" left-buttons="leftButtons">
    <ion-content class="has-header has-footer">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/recipe/80x80/{{recipe.image}}">
                <h2>{{recipe.name}} - {{recipe.rating}} / 5</h2>
                <p>{{recipe.category}} - {{recipe.difficulty}} - {{recipe.budget}}</p>
            </div>

            <div class="item item-body">
                <p>
                    Préparation: {{recipe.preparationTime}} minutes<br>
                    Cuisson: {{recipe.cookTime}} minutes
                </p>
                <div>
                    <h2>Ingrédients ({{recipe.servings.quantity}} {{recipe.servings.name}}) :</h2>
                    <div ng-repeat="ingredient in recipe.ingredients">
                        - {{ingredient.quantity}} {{ingredient.name}}
                    </div>
                </div>
                <br>
                <div>
                    <h2>Instructions :</h2>
                    <p ng-repeat="instruction in recipe.instructions">
                        {{instruction}}
                    </p>
                </div>
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-pizza"></i>
                Cuisiner !
            </a>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-pizza"></i>
                Faire un menu !
            </a>
        </div>
        <div class="list" ng-if="similarRecipes">
            <div class="item item-divider">
                Recettes similaires :
            </div>
            <a ng-repeat="recipe in similarRecipes" class="item item-thumbnail-left"
               ui-sref="sidemenu.recipe({id: recipe.id, from: 'similar-recipe'})">
                <img ng-src="img/recipe/80x80/{{recipe.image}}">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.category}} - {{recipe.difficulty}} - {{recipe.budget}}</p>
            </a>
        </div>
    </ion-content>

    <!-- Footer -->
    <ion-footer-bar>
        <div class="button-bar">
            <a class="button button-balanced" ng-click="ingredientsModal.open()">Ajouter les ingrédients à ma liste</a>
        </div>
    </ion-footer-bar>
</ion-view>