<div class="modal">
    <header class="bar bar-header shoppinglist">
        <h1 class="title">{{itemDetails.title}}</h1>
        <button class="button button-clear button-primary" ng-click="itemDetails.modal.hide()">Annuler</button>
    </header>
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-thumbnail-left">
                <img ng-src="images/ingredients/100x100/{{itemDetails.data.item.ingredient.img}}">
                <h2>{{itemDetails.data.item.ingredient.name}}</h2>
                <p>{{itemDetails.data.category ? itemDetails.data.category.name : itemDetails.data.item.ingredient.category}}</p>
            </a>
            <!--<label class="item item-input item-select">
<div class="input-label">Quantité</div>
<input type="number" ng-model="itemDetails.data.item.quantity" placeholder="">
<select ng-model="itemDetails.data.item.quantityUnit">
<option ng-repeat="unit in ingredientUnits" value="{{unit.id}}" ng-selected="unit.id === itemDetails.data.item.quantityUnit.id">{{unit.name}}</option>
</select>
</label>-->
            <label class="item item-input">
                <span class="input-label">Quantité</span>
                <input type="number" ng-model="itemDetails.data.item.quantity" placeholder="">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Unité</div>
                <select ng-model="itemDetails.data.item.quantityUnit">
                    <option ng-repeat="unit in ingredientUnits" value="{{unit.id}}" ng-selected="unit.id === itemDetails.data.item.quantityUnit.id">{{unit.name}}</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Notes</span>
                <input type="text" ng-model="itemDetails.data.item.notes" placeholder="">
            </label>
            <div class="button-bar" ng-if="itemDetails.update">
                <button class="button button-full button-assertive" ng-click="deleteItem()">Supprimer</button>
                <button class="button button-full button-balanced" ng-click="updateItem()">Enregistrer</button>
            </div>
            <div class="button-bar" ng-if="!itemDetails.update">
                <button class="button button-full button-balanced" ng-click="addItem()">Ajouter à la liste</button>
            </div>
        </div>
    </ion-content>
</div>